
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
input, textarea {
  user-select: auto !important;
  -moz-user-select: auto !important;
  -webkit-user-select: auto !important;
  -ms-user-select: auto !important;
}

.navbar {
  background-color: rgba(255,255,255,.8); 
  border: none;
  box-shadow: 0px 0px 16px 0px rgba(0,0,0,.5);
  transtion: all ease-in-out .4s;
}
body.thin-header .navbar {
  background-color: rgba(255,255,255,1); 
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,.5);
}
.navbar .container {
 padding: 0 36px;
}
.navbar .navbar-brand {
 font-family: Raleway, sans-serif;
}

.navbar-brand {
  transition: all ease-in-out .2s;
}
@media (min-width: 992px) {
  body:not(.thin-header)  .navbar-brand {
    font-size: 2.8em;
    margin-top: 16px;
    margin-bottom: 10px;
  }
  .navbar-collapse {
    position: relative;
  }
}

.navbar .navbar-nav>li>a {
  margin: 6px;
  padding: 6px 12px;
  border-bottom: 3px solid transparent;
}
.navbar-nav>li>a:focus,
.navbar-nav>li>a:hover {
  background-color: transparent;
}
.navbar a {
  color: hsl(212, 80%, 20%);
}
.navbar-nav>li>a:hover {
  color: hsl(212, 70%, 50%);
}
.navbar .navbar-nav>.active>a,
.navbar .navbar-nav>.active>a:focus,
.navbar .navbar-nav>.active>a:hover {
  border-color: hsl(212, 100%, 60%);
}
.navbar a i {
  margin-right: 4px;
}

.container > p {
  display:none; 
}
.page-section {
  position: relative;
  padding: 70px 32px 10px 32px;
  margin: 4px;
  color: hsl(212, 80%, 20%);
}
.page-section a[name] {
  position: absolute;
  top: 0;
}
.page-section:not(.home) {
  background-color: hsla(212, 100%, 90%, 0.7);
}

.section-jump {
  position: fixed;
  text-align: center;
  width: 100%;
}
.section-jump.prev {
  top: 55px;
}
.section-jump.next {
  bottom: 16px;
}
.section-jump a {
  display: inline-block;
  width: 1.6em;
  height: 1.6em;
  border-radius: 50% 50%;
  font-size: 32px;
  opacity: .5;
  box-shadow: 1px 1px 0 1px rgba(0,0,0, .2);
  border: 2px solid #fff;
  color: #fff;
}
.section-jump a:hover {
  background-color: hsla(212, 100%, 10%, 1);
}

.home {
  text-align: center;
  padding-top: 100px;
  color: #fff;
  font-size: 18px;
}
.home > * {
  transition: all ease-in-out .4s;
  opacity: 0;
}
.home.show-section > * {
  opacity: 1;
}
.home img {
  width: 80%;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, .5);
  transition: all ease-in-out .8s .4s;
  transform: translate(0, 20px);
  opacity: 0;
}
.home.show-section img {
  transform: translate(0, 0);
  opacity: 1;
}

.about > section {
 display:inline-block;
}

.about > section > section {
  width: 100%;
  margin-right: 24px;
  margin-bottom: 16px;
  float: left;  
  padding: 8px 16px;
  border-radius: 6px;

  background-repeat: no-repeat;
  background-image: radial-gradient(at 0px 0px, 
    rgba(255,255,255,1) 0%,
    rgba(255,255,255,1) 20%,
    rgba(255,255,255,0) 70%,
    rgba(255,255,255,0) 100%);

  transition: all ease-in-out .8s .4s;
  background-color: hsla(212, 80%, 85%, 0);
  background-position: -400px -100px;
  border: 1px solid hsla(212, 90%, 100%, 0);
}
.about.show-section > section > section {
  background-color: hsla(212, 80%, 80%, 1);
  background-position: 0 0;
  border: 1px solid hsla(212, 90%, 100%, 1);
}
@media (min-width: 992px) {
  .about > section > section {
    width: 47%;
  }
}

.about h2 {
  margin-top: 4px;
}
.about > p {
  font-size: 1.2em;
}
.about > section > * {
  opacity: 0;
  transform: translate(20px);
  transition: all ease-in-out .8s;
}
.about > section > section:nth-of-type(2) > * {
  transition-delay: 400ms;
}
.about > section > section:nth-of-type(3) > * {
  transition-delay: 800ms;
}
.about > section > section:nth-of-type(4) > * {
  transition-delay: 1200ms;
}
.about.show-section > section > * {
  opacity: 1;
  transform: translate(0);
}

