body {
  margin: 0;
  padding: 60px 0;
}
.btn label {
  margin: 0;
}
.btn-loading {
  position: relative;
}
.btn-loading .loading,
.btn-loading .loading::after {
  content: ' ';
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 2em;
  height: 2em;
  margin: auto;
  border-width: 3px;
  border-style: solid;
  border-color: #777 transparent #777 transparent;
  border-radius: 50%;
  -webkit-animation: rotate 1.6s linear infinite;
}
.btn-loading .loading::after {
  width: 1em;
  height: 1em;
  -webkit-animation: rotate .8s linear -.5s infinite;
}
.btn-loading .loading.ng-hide,
.btn-loading .loading.ng-hide::after {
  display: none !important;
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.alert {
  text-align: left;
}
.func-view {
  position: absolute;
  left: 0;
  right: 0;
  top: 60px;
  bottom: 60px;
}
.s3-left {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  overflow: scroll;
}
.s3-left > .nav {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}
.s3-right {
  position: absolute;
  left: 200px;
  right: 0;
  top: 0;
  bottom: 0;
  border-right: 1px solid #428bca;
}
.s3-right tr > div,
.s3-right td > div {
  white-space: nowrap;
  display: inline-block;
  width: 100%;
  overflow-x: hidden;
  border-right: 10px solid transparent;
}
.s3-right table i {
  margin-right: .5em;
}
.s3-upload-fileld {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: #777;
}
.nav > li > a.s3-item {
  padding: 2px;
  white-space: nowrap;
}
.s3-child {
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
  opacity: 1;
}
.s3-child.ng-hide {
  opacity: 0;
}
table {
  table-layout: fixed;
  text-align: left
}
[width-resizable] {
  position: relative;
}
[width-resizable] > .width-resizable-handle {
  content: ' ';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 10px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(0.4, rgba(0, 0, 0, 0)), color-stop(0.5, rgba(1, 1, 1, .1)), color-stop(0.6, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
}
[width-resizable] > .width-resizable-handle:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(0.4, rgba(0, 0, 0, 0)), color-stop(0.5, rgba(1, 1, 1, .25)), color-stop(0.6, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  cursor: w-resize;
}