body {
  margin: 0;
  padding: 0;
}
/** func-menu **/

.func-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 40px;
  transition: width .2s ease;
  padding-top: 60px;
  background-color: #333;
  z-index: 1040;
}
.func-menu.opened {
  width: 140px;
}
.func-menu a {
  display: block;
  white-space: nowrap;
  overflow-x: hidden;
}
.func-menu a img {
  height: 40px;
  width: 40px;
  -webkit-filter: grayscale(100%);
  transition: -webkit-filter .2s ease;
}
.func-menu a:hover img {
  -webkit-filter: grayscale(0%);
}
.func-menu a div {
  opacity: 0;
  transition: opacity .1s ease .0s, color .1s ease;
  display: inline-block;
}
.func-menu.opened a div {
  opacity: 1;
  transition: opacity .4s ease .2s, color .1s ease;
}
.func-menu a div {
  color: #999;
}
.func-menu a:hover div {
  color: #fff;
}
/** navibar **/

.navbar-fixed-top {
  left: 40px;
}
.btn label {
  margin: 0;
}
.btn-loading {
  position: relative;
}
.btn-loading .loading,
.btn-loading .loading::after {
  content: ' ';
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 2em;
  height: 2em;
  margin: auto;
  border-width: 3px;
  border-style: solid;
  border-color: #777 transparent #777 transparent;
  border-radius: 50%;
  -webkit-animation: rotate 1.6s linear infinite;
}
.btn-loading .loading::after {
  width: 1em;
  height: 1em;
  -webkit-animation: rotate .8s linear -.5s infinite;
}
.btn-loading .loading.ng-hide,
.btn-loading .loading.ng-hide::after {
  display: none !important;
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.alert {
  text-align: left;
}
[ui-view] {
  position: absolute;
}
[ui-view="title"] {
  transition: all .4s ease .2s;
}
[ui-view="title"].ng-enter {
  opacity: 0;
  transform: translateY(-10%);
}
[ui-view="title"].ng-leave-active {
  opacity: 0;
  transform: translateY(10%);
}
[ui-view="main"] {
  top: 0;
  bottom: 0;
  left: 40px;
  right: 0;
  transition: all .2s ease .0s;
}
[ui-view="main"].ng-enter {
  opacity: 0;
  transform: translateX(20%);
}
[ui-view="main"].ng-leave-active {
  opacity: 0;
  transform: translateX(20%);
}
.func-view {
  position: absolute;
  left: 0;
  right: 0;
  top: 60px;
  bottom: 60px;
}
/* modal */

.modal.fade .modal-dialog {
  transition: transform .1s ease;
  transform: scale(1.05);
}
.modal.in .modal-dialog {
  transform: scale(1);
}
