body {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}
[ng-cloak] {
  display: none !important;
}
.no-animate {
  -webkit-transition: none !important;
  transition: none !important;
}
.screen {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  transition: -webkit-filter 500ms ease-in-out;
  background-image: url(../images/bg.svg);
}
/** func-menu **/

.func-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 40px;
  transition: width .2s ease;
  background-color: #222;
  z-index: 1040;
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, .1);
  trasision: box-shadow .4s ease;
}
.func-menu.opened {
  width: 140px;
  box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, .1);
}
.func-menu a {
  display: block;
  white-space: nowrap;
  overflow-x: hidden;
}
.func-menu a.menuicon {
  padding: 6px;
  font-size: 32px;
  color: #999;
}
.func-menu a:hover.menuicon {
  color: #fff;
}
.func-menu a img {
  height: 40px;
  width: 40px;
  -webkit-filter: grayscale(100%);
  transition: -webkit-filter .2s ease;
}
.func-menu a.active img,
.func-menu a:hover img {
  -webkit-filter: grayscale(0%);
}
.func-menu a div {
  opacity: 0;
  transition: opacity .1s ease .0s, color .1s ease;
  display: inline-block;
}
.func-menu.opened a div {
  opacity: 1;
  transition: opacity .4s ease .2s, color .1s ease;
}
.func-menu a div {
  color: #999;
}
.func-menu a:hover div {
  color: #fff;
}
/** navibar **/

.navbar.navbar-fixed-top {
  left: 40px;
  margin: 0;
  min-height: 40px;
  background-color: #222;
  color: rgba(255,255,255,.84);
  .btn {
    color: hsl(36, 100%, 55%);
    color: #ccc;
  }
  .btn:focus,
  .btn:active,
  .btn:hover {
    color: hsl(36, 100%, 55%);
    outline-color: hsl(36, 100%, 55%);
  }
  h3 {
    margin: 8px 12px;
    color: #f90;
  }
  .dropdown-menu {
    padding: 0;
    margin-top: 4px;
    background: #222;
    > li > a {
      font-size: 1em;
      padding: 8px 16px;
      //background: #222;
      color: #eee;
      cursor: pointer;
    }
    > li > a:hover,
    > li > a:focus {
      background: #333;
      color: hsl(36, 100%, 55%);
      outline-color: hsl(36, 100%, 55%);
    }
    > .disabled > a,
    > .disabled > a:hover,
    > .disabled > a:focus {
      color: #aaa;
      cursor: not-allowed;
    }
  }
  > .btn-group {
    margin-top: 4px;
  }
}
.navbar.navbar-fixed-bottom {
  background-color: rgba(255,252,252,0.8);
  color: #333;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.navbar-fixed-bottom {
  z-index: 1;
}
.navbar-fixed-bottom .navbar-text.navbar-right:last-child {
  margin-right: 15px;
}
.nav-pills > li > a {
  border-radius: 0;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #f90;
}

/** button **/
.btn {
  text-transform: none;
  padding: 8px 12px;
}

.alert {
  text-align: left;
  margin-bottom: 4px;
  padding: 8px;
}
[ui-view] {
  position: absolute;
}
[ui-view="header"] {
  top: 0;
  left: 104px;
  right: 48px;
  padding: 4px;
}
[ui-view="main"] {
  top: 0;
  bottom: 0;
  left: 40px;
  right: 0;
  transition: all .2s ease .0s;
}
[ui-view="main"].ng-leave.ng-leave-active,
[ui-view="main"].ng-enter {
  opacity: 0;
}
.func-view {
  position: absolute;
  left: 0;
  right: 0;
  top: 44px;
  bottom: 60px;
  overflow: auto;
}

.position-fixed {
  position: fixed;
}
/** table **/

.btn-group {
  margin: 1px;
}
[dropdown].position-fixed {
  z-index: 10;
}
.position-fixed .dropdown-menu {
  background: #222;
  > li > a {
    color: #eee;
    cursor: pointer;
  }
  > li > a:hover,
  > li > a:focus {
    background: #333;
    color: hsl(36, 100%, 55%);
    outline-color: hsl(36, 100%, 55%);
  }
  > .disabled > a,
  > .disabled > a:hover,
  > .disabled > a:focus {
    color: #aaa;
    cursor: not-allowed;
  }

}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #bbb;
}
.dropdown-menu .divider {
  background-color: #e5e5e5;
}

.open > .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.dropdown-menu {
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease;
}

/*
form textarea.ng-invalid.ng-dirty,
form input.ng-invalid.ng-dirty {
  background-color: hsl(  7, 100%, 95%);
}
form textarea.ng-valid.ng-dirty,
form input.ng-valid.ng-dirty {
  background-color: hsl(187, 100%, 95%);
}
*/
.form-group {
  padding-bottom: 4px;
  margin: 8px 0 0 0;
}
.form-group [dropdown] {
  margin-top: -4px;
}
.form-group .btns {
  .btn {
    margin: 0px 2px;
  }
}
textarea.form-control {
  margin-top: 8px;
  resize: vertical;
}
[dropdown].btn-group {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.23), 0 1px 1px rgba(0, 0, 0, 0.16);
}
[dropdown].btn-group:hover,
[dropdown].btn-group.open {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
}
.form-group label.control-label {
  margin: 4px 0 12px 0;
}


