
.modal-lg {
  width: 900px !important;
}
.modal {
  &.fade .modal-dialog {
    transform: none;
    perspective: 1600px;
    .modal-content {
      transition: transform .25s ease-in, opacity .4s ease-in;
      opacity: 0;
      transform: rotateX(90deg) scale(.6);
      transform-origin: 50% 0%;
    }
  }
  &.in .modal-dialog {
    .modal-content {
      opacity: 1;
      transform: rotateX(0deg);
    }
  }
  &.fade.in {
    background: rgba(0, 0, 0, 0.25);
  }
}

.modal-content {
//  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22), 0 0 0 1px rgba(255, 255, 255, 0.5);
  .modal-header {
    padding: 12px 16px;
    background-color: #222;
    color: #fff;
    box-shadow: inset 0 0px 1px 0px #fff;
    h3 {
      margin: 0px;
      color: #f90;
    }
    .close {
      color: #fff;
      font-size: 28px;
      opacity: .8;
      &:hover {
        opacity: 1;
      }
    }
  }
  .modal-body {
    padding: 16px 16px 12px;
  }
  .modal-body + .modal-footer {
    padding: 8px 16px;
    background: #f7f7f7;
    box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
  }
  .modal-body,
  .modal-footer {
    position: relative;
  }
}

$modal-loader-color2: rgba(#f90, .95);
$modal-loader-color1: rgba(black, .95);

.modal-loader {
  margin: 0px auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display:block;
  width: 0px;
  height: 0px;

  &:before,
  &:after {
    content: '';
    display:block;
    width: 64px;
    height: 64px;

    position: absolute;
    border-radius: 50%;
    border: 12px solid transparent;

    animation: modal-loader .6s linear -.1s infinite;
    border-right-color: $modal-loader-color1;
  }

  &:after {
    animation: modal-loader .8s linear -.5s infinite;
    border-right-color: $modal-loader-color2;
  }
}

@keyframes modal-loader  {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateY(-50%) rotate(360deg);
  }
}

.modal-body .cover,
.modal-footer .cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(192,192,192, .2);
  z-index: 10;
}

.modal-lg700 {
  width: 700px !important;
}
.modal-lg800 {
  width: 800px !important;
}
