.r53-left,
.r53-right {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}
.r53-left {
  left: 0;
  width: 200px;
  border-right: 1px solid rgba(0,0,0,.2);
}
.r53-right {
  left: 200px;
  right: 0;
}
.r53-left .r53-left-header {
  line-height: 1.8em;
  padding: .05em .4em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  border-bottom: 1px solid #aaa;
}
.r53-left .nav > li > a {
  padding: 2px;
  white-space: nowrap;
}
.r53-left .nav > li > a > i {
  margin: 2px 10px;
}
.r53-left .nav > li > a > i.local {
  opacity: .3;
}
.r53-split-handle {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  margin-left: -5px;
  background: linear-gradient(to right,
    rgba(#fff, 0) 4px, #222 4px, #222 5px, rgba(#fff, 0) 5px,
    rgba(#fff, 0) 10px, rgba(#fff, 0) 11px);
  z-index: 2;
  &:hover {
    cursor: col-resize;
  }
}
.r53-right tr.ng-enter {
  transition: all .2s ease;
  opacity: 0;
  transform: rotateX(90deg);
}
.r53-right tr.ng-enter.ng-enter-active {
  opacity: 1;
  transform: rotateX(0);
}
.btn-group .btn.remove-vpc {
  margin-left: 1px;
}
.vpc-input:nth-of-type(n+2) {
  margin-top: 6px;
}
.delete-rrsets {
  max-height: 100px;
  overflow:auto;
}

