
.table-outer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: auto;
  overflow-y: hidden;
}
.table-header-spacer {
  height: calc(1.8em + 1px);
}
.table-container {
  height: calc(100% - 1.8em);
  overflow-x: hidden;
  overflow-y: auto;

  .table {
    table-layout: fixed;
    width: auto;

    thead > tr > th {
      border-bottom: none;
    }

    thead > tr > th,
    tbody > tr > td {
      padding: 0;
      border-top: none;
    }
  }
}

.table-striped > tbody {
  > tr:nth-of-type(even) {
    background-color: rgba(255, 255, 255, 0.8);
  }
  > tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.4);
  }
}
.table > tbody > tr.selected > td {
  background-color: rgba(#f90, 0.7)
}

.th-inner {
  position: absolute;
  line-height: 1.8em;
  top: 0;
  padding: .05em .4em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: rgba(255,255,255,.9);
  border-bottom: 1px solid #aaa;
}
.td-inner {
  line-height: 1.8em;
  padding: .05em .4em;
  white-space: nowrap;
  border-top: 1px solid #ddd;
  &, & > * {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  tr:first-child & {
    border-top-color: transparent;
  }
}
.td-inner.checkbox {
  padding-top: 2px;
  min-height: initial;
  height: 2.2em;
  label {
    display: block;
    text-align: center;
  }
}

.table-resize-handle {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  min-height: 100%;
  background-image: linear-gradient(to right,
   rgba(255, 255, 255, 0) 4px,
   #444 4px,
   rgba(255, 255, 255, 0) 5px,
   rgba(255, 255, 255, 0) 10px);
}
.table-resize-handle:hover {
  background-image: linear-gradient(to right,
   rgba(255, 255, 255, 0) 4px,
   #444 4px, #444 5px,
   rgba(255, 255, 255, 0) 5px,
   rgba(255, 255, 255, 0) 10px);
  cursor: ew-resize;
}

.sort-mark {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 15px;
  text-align: right;
  color: #aaa;
  cursor: pointer;
}

.table {
  [uib-dropdown] .btn {
    margin: 0;
    padding: 0 2px;
    width: 100%;
    text-align: left;
  }
  .td-inner.form-group-input {
    padding: 0;
  }
  .form-group {
    margin: 0;
    padding: 0;
  }
  input.form-control {
    font-size: 14px;
    margin: 2px 4px 2px 6px;
    padding: 0 6px 2px 0;
    height: 24px;
  }
  .has-warning input,
  .has-warning select:not(:focus) {
    background-color: rgba(#ff5722, .5);
  }
  .text-right input.form-control {
    text-align: right;
  }

  select.form-control {
    font-size: 14px;
    padding: 0 0 2px;
    margin: 2px 4px;
    margin: 2px 4px 2px 0;
    height: 24px;
  }
}

