.ec2-header > * {
  display: inline-block;
  margin: 6px;
}
.ec2-vpc-panel {
  margin: 2px 4px;
}
.ec2-vpc-panel .vpc-region {
  float: right;
}
.ec2-vpc-panel .panel-body {
  padding: 4px;
}
.ec2-vpc-panel .subnet {
  margin: -1em 0 1em 0;
}
.ec2-vpc-panel .subet-title {
  transform: translate(0, 1em);
}
.ec2-vpc-panel .subet-title > div {
  display:inline-block;
  background: #fff;
  padding: 4px;
  margin: 0 10px;
}
.ec2-vpc-panel .subet-title > div:last-child {
  float:right
}
.ec2-vpc-panel .subnet-body {
  overflow: hidden;
  border: 1px solid #aaa;
  padding-top: 10px;
  min-height: 20px;
}
.ec2-vpc-panel .instance {
  position: relative;
  display: inline-block;
  margin: 8px 6px;
  width: 200px;
  height: 120px;
  float: left;
  box-shadow: 1px 1px 2px rgba(0,0,0,.2);
  font-weight: bold;
  border: 1px solid #fff;
  border-radius: 4px;
}
.ec2-vpc-panel .instance.selected {
  background-color: rgba(0,128,255,.2);
}
.ec2-vpc-panel .instance .instance-name {
  display: inline-block;
  position: absolute;
  left: 16px;
  top: 8px;
  font-size: 1.4em;
  text-shadow: 1px 1px 0px #fff,-1px -1px 0px #fff, 1px -1px 0px #fff, -1px 1px #fff;
}
.ec2-vpc-panel .instance .instance-state {
  display: inline-block;
  position: absolute;
  right: 16px;
  bottom: 8px;
  text-shadow: 1px 1px 0px #fff,-1px -1px 0px #fff, 1px -1px 0px #fff, -1px 1px #fff;
}
.ec2-vpc-panel .instance > img {
  width: 120px;
  position: absolute;
  top: 0;
  left: 0;
}
.ec2-vpc-panel .instance > img.state-pending {
  opacity: .5;
}
.ec2-vpc-panel .instance > img.state-stopping,
.ec2-vpc-panel .instance > img.state-shutting-down {
  -webkit-filter: grayscale(60%);
}
.ec2-vpc-panel .instance > img.state-stopped,
.ec2-vpc-panel .instance > img.state-terminated {
  -webkit-filter: grayscale(95%);
}
