body {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}
[ng-cloak] {
  display: none !important;
}
.screen {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  transition: -webkit-filter 500ms ease-in-out;
}
/** func-menu **/

.func-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 40px;
  transition: width .2s ease;
  background-color: #333;
  z-index: 1040;
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, .1);
  trasision: box-shadow .4s ease;
}
.func-menu.opened {
  width: 140px;
  box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, .1);
}
.func-menu a {
  display: block;
  white-space: nowrap;
  overflow-x: hidden;
}
.func-menu a.menuicon {
  padding: 6px;
  font-size: 32px;
  color: #999;
}
.func-menu a:hover.menuicon {
  color: #fff;
}
.func-menu a img {
  height: 40px;
  width: 40px;
  -webkit-filter: grayscale(100%);
  transition: -webkit-filter .2s ease;
}
.func-menu a:hover img {
  -webkit-filter: grayscale(0%);
}
.func-menu a div {
  opacity: 0;
  transition: opacity .1s ease .0s, color .1s ease;
  display: inline-block;
}
.func-menu.opened a div {
  opacity: 1;
  transition: opacity .4s ease .2s, color .1s ease;
}
.func-menu a div {
  color: #999;
}
.func-menu a:hover div {
  color: #fff;
}
/** navibar **/

.navbar-fixed-top {
  left: 40px;
  margin: 0;
}
.navbar-fixed-top .btn-group.navbar-right {
  margin: 4px;
}
.navbar-fixed-top .btn-group.navbar-right button {
  padding: 8px 16px;
}
.navbar {
  min-height: 40px;
}
.navbar h3 {
  margin: 8px 12px;
  color: #fff;
}
.navbar .navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar-fixed-bottom {
  z-index: 1;
}
.navbar-fixed-bottom .navbar-text.navbar-right:last-child {
  margin-right: 15px;
}
.nav-pills > li > a {
  border-radius: 0;
}

/** button **/
.btn {
 text-transform: none;
}
.btn label {
  margin: 0;
}
.btn-loading {
  position: relative;
}
.btn-loading .loading,
.btn-loading .loading::after {
  content: ' ';
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 2em;
  height: 2em;
  margin: auto;
  border-width: 3px;
  border-style: solid;
  border-color: #777 transparent #777 transparent;
  border-radius: 50%;
  -webkit-animation: rotate 1.6s linear infinite;
}
.btn-loading .loading::after {
  width: 1em;
  height: 1em;
  -webkit-animation: rotate .8s linear -.5s infinite;
}
.btn-loading .loading.ng-hide,
.btn-loading .loading.ng-hide::after {
  display: none !important;
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.alert {
  text-align: left;
}
[ui-view] {
  position: absolute;
}
[ui-view="header"] {
  top: 0;
  left: 104px;
  right: 48px;
  padding: 4px;
}
[ui-view="main"] {
  top: 0;
  bottom: 0;
  left: 40px;
  right: 0;
  transition: all .2s ease .0s;
}
[ui-view="main"].ng-leave.ng-leave-active,
[ui-view="main"].ng-enter {
  opacity: 0;
}
.func-view {
  position: absolute;
  left: 0;
  right: 0;
  top: 48px;
  bottom: 60px;
}
/* modal */
.modal-content {
//  border-radius: 6px;
}
.modal.fade .modal-dialog {
  transition: transform .1s ease;
  transform: scale(1.05);
}
.modal.in .modal-dialog {
  transform: scale(1);
}
.modal h3 {
  margin: 0px;
}
.modal-open .screen {
  -webkit-filter: grayscale(70%);
}
.modal-content .modal-header {
  padding: 12px 16px;
  background-color: #4285f4;
  color: #fff;
}
.modal-content .modal-body {
  padding: 16px 16px 12px;
}
.modal-content .modal-footer {
  padding: 12px 16px;
}

.position-fixed {
  position: fixed;
}
/** table **/

.table-outer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: auto;
  overflow-y: hidden;
}
.table-header-spacer {
  height: 1.8em;
}
.table-container {
  height: calc(100% - 1.8em);
  overflow-x: hidden;
  overflow-y: auto;
}
.table-container .table {
  table-layout: fixed;
  width: auto;
}
.table-container .table > thead > tr > th,
.table-container .table > tbody > tr > td {
  padding: 0;
}
/*
.table-striped > tbody > tr:nth-child(even).info > td {
 background-color: #c4e4f3;
}
*/

.th-inner {
  position: absolute;
  line-height: 1.8em;
  top: 0;
  padding: .05em .4em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.td-inner {
  line-height: 1.8em;
  padding: .05em .4em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table-resize-handle {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  min-height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(0.4, rgba(0, 0, 0, 0)), color-stop(0.5, rgba(1, 1, 1, .1)), color-stop(0.6, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
}
.table-resize-handle:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(0.4, rgba(0, 0, 0, 0)), color-stop(0.5, rgba(1, 1, 1, .25)), color-stop(0.6, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  cursor: ew-resize;
}
.btn-group {
  margin: 1px;
}
.dropdown.position-fixed {
  z-index: 10;
}
.dropdown-menu {
  background: rgba(255, 255, 255, .9);
}
.dropdown-menu li a:hover, .dropdown-menu-default li a:hover {
  background: #03a9f4;
  color: #fff;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #bbb;
}
form input.ng-invalid.ng-dirty {
  background-color: hsl(  7, 100%, 95%);
}
form input.ng-valid.ng-dirty {
  background-color: hsl(187, 100%, 95%);
}
[dropdown].btn-group {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.23), 0 1px 1px rgba(0, 0, 0, 0.16);
}
[dropdown].btn-group:hover,
[dropdown].btn-group.open {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
}
