.r53-left,
.r53-right {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}
.r53-left {
  left: 0;
  width: 200px;
  border-right: 1px solid rgba(0,0,0,.2);
}
.r53-right {
  left: 200px;
  right: 0;
}
.r53-left .r53-left-header {
  position:absolute;
  line-height: 1.8em;
  top: 0;
  padding: .05em .4em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}
.r53-left .nav {
  margin-top: 1.8em;
  border-top: 2px solid rgb(221, 221, 221);
}
.r53-left .nav > li > a {
  padding: 2px;
  white-space: nowrap;
}
.r53-left .nav > li > a > i {
  margin: 2px 10px;
}
.r53-left .nav > li > a > i.local {
  opacity: .3;
}
.r53-split-handle {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  margin-left: -5px;
  background: linear-gradient(to right,
    rgba(#fff, .5) 4px, #222 4px, #222 5px, rgba(#fff, .5) 5px,
    rgba(#fff, .5) 10px, rgba(#fff, 0) 11px);
  cursor: col-resize;
  z-index: 2;
}
.r53-right th .sort-mark {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 15px;
  text-align: right;
  color: #aaa;
  cursor: pointer;
}
.btn-group .btn.remove-vpc {
  margin-left: 1px;
}
.vpc-input:nth-of-type(n+2) {
  margin-top: 6px;
}
