.s3-top {
  position: absolute;
  left: 0;
  top: 0;
}
.s3-left {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}
.s3-left .s3-tree {
  position: absolute;
  left: 0;
  top: 36px;
  bottom: 0;
  width: 200px;
  overflow: scroll;
}
.s3-left i.opentree {
  transform: rotateZ(45deg);
  transform-origin: 75% 50%;
}
.s3-left i.transparent {
  color: transparent;
}
.s3-left > div > .nav {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}
.s3-right {
  position: absolute;
  left: 200px;
  right: 0;
  top: 0;
  bottom: 0;
  border-right: 1px solid #428bca;
}
.s3-right .table-outer {
  top: 30px;
}
.s3-right table i {
  margin-right: .2em;
}
.s3-right .notifications-area {
  position: absolute;
  right: 8px;
  bottom: 0;
  width: 300px;
}
.notifications-area .alert {
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, .2);
  padding-bottom: 4px;
  padding-top: 4px;
  margin-bottom: 8px;
  min-height: 2em;
  overflow-y: hidden;
  opacity: .5;
}
.notifications-area:hover .alert {
  opacity: 1;
}
.notifications-area .alert > * {
  margin-bottom: -100%;
  transition: margin 200ms ease-in;
}
.notifications-area .alert:hover > * {
  margin-bottom: 0;
}
.notifications-area .alert.ng-enter {
  opacity: 0;
  transform: translateY(-100%);
  transition: transform 500ms ease-in, opacity 500ms ease-in;
}
.notifications-area .alert.ng-enter.ng-enter-active {
  opacity: 1;
  opacity: .8;
  transform: translate(0);
}
.notifications-area .alert.ng-leave {
  transition: margin 500ms ease-in, padding 500ms ease-in, opacity 500ms ease-in;
  min-height: 0;
}
.notifications-area .alert.ng-leave.ng-leave-active {
  opacity: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.progress-bar.progress-bar-info {
  text-shadow: 2px 2px 0 #5BC0D7, 2px -2px 0 #5BC0D7, -2px 2px 0 #5BC0D7, -2px -2px 0 #5BC0D7;
}
.progress-bar.progress-bar-success {
  text-shadow: 2px 2px 0 #5cb85c, 2px -2px 0 #5cb85c, -2px 2px 0 #5cb85c, -2px -2px 0 #5cb85c;
}
.progress-bar.fin {
  -webkit-animation: flash .5s ease 3s;
}
.s3-upload-fileld-cover {
  z-index: 1000;
  content: ' ';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(128, 128, 128, .2);
}
.nav > li > a.s3-item {
  padding: 2px;
  white-space: nowrap;
}
.s3-child {
  transition: all linear 0.2s;
  opacity: 1;
}
.s3-child.ng-hide {
  opacity: 0;
}
.s3-upload-dialog .modal-body-inner {
  position: relative;
  min-height: 300px;
}
