.s3-top {
  position: absolute;
  left: 0;
  top: 0;
}
.s3-left {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}
.s3-left .s3-tree-header {
  position: absolute;
  line-height: 1.8em;
  top: 0;
  padding: .05em .4em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}
.s3-left .s3-tree {
  position: absolute;
  left: 0;
  top: 1.8em;
  bottom: 0;
  width: 200px;
  overflow: scroll;
  border-right: 1px solid rgba(0,0,0,.2);
  border-top: 2px solid rgb(221, 221, 221);
}
.s3-left i.fa-caret-right {
 padding: 0 4px;
}
.s3-left i.opentree {
  transform: rotateZ(45deg);
  transform-origin: 75% 50%;
}
.s3-left i.transparent {
  color: transparent;
}
.s3-left > div > .nav {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}
.s3-left .nav > li > a.s3-item {
  padding: 2px;
  white-space: nowrap;
}
.s3-left .s3-child {
  transition: all .2s ease;
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.s3-left .s3-child.ng-hide {
  transform: translate3d(0, -10px, 0);
  opacity: 0;
}
.s3-left a img {
  height: 1.6em;
  width: 1.6em;
  margin-left: -.4em;
  margin-right: -.4em;
}
.s3-upload-dialog .modal-body-inner {
  position: relative;
  min-height: 300px;
}
.s3-right {
  position: absolute;
  left: 200px;
  right: 0;
  top: 0;
  bottom: 0;
  border-right: 1px solid #428bca;
}
.s3-right table i {
  margin-right: .2em;
}
.s3-right tr.ng-enter {
  transition: all .2s ease;
  opacity: 0;
  transform: translate3d(0, -10px, 0);
}
.s3-right tr.ng-enter.ng-enter-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.s3-right th .sort-mark {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 15px;
  text-align: right;
  color: #aaa;
  cursor: pointer;
}
.s3-right table input {
  padding: 0 8px;
}
.s3-right .notifications-area {
  position: absolute;
  right: 8px;
  bottom: 0;
  width: 300px;
}
.notifications-area .alert {
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, .2);
  padding-bottom: 4px;
  padding-top: 4px;
  margin-bottom: 8px;
  min-height: 2em;
  overflow-y: hidden;
  opacity: .5;
}
.notifications-area:hover .alert {
  opacity: 1;
}
.notifications-area .alert > * {
  margin-bottom: -100%;
  transition: margin 200ms ease-in;
}
.notifications-area .alert:hover > * {
  margin-bottom: 0;
}
.notifications-area .alert.ng-enter {
  opacity: 0;
  transform: translateY(-100%);
  transition: transform 500ms ease-in, opacity 500ms ease-in;
}
.notifications-area .alert.ng-enter.ng-enter-active {
  opacity: 1;
  opacity: .8;
  transform: translate(0);
}
.notifications-area .alert.ng-leave {
  transition: margin 500ms ease-in, padding 500ms ease-in, opacity 500ms ease-in;
  min-height: 0;
}
.notifications-area .alert.ng-leave.ng-leave-active {
  opacity: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.progress-bar.progress-bar-info {
  text-shadow: 2px 2px 0 #5BC0D7, 2px -2px 0 #5BC0D7, -2px 2px 0 #5BC0D7, -2px -2px 0 #5BC0D7;
}
.progress-bar.progress-bar-success {
  text-shadow: 2px 2px 0 #5cb85c, 2px -2px 0 #5cb85c, -2px 2px 0 #5cb85c, -2px -2px 0 #5cb85c;
}
.progress-bar.fin {
  -webkit-animation: flash .5s ease 3s;
}
.s3-upload-fileld-cover {
  z-index: 1000;
  content: ' ';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(128, 128, 128, .2);
}
.loader {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: .4em .2em;
  border-radius: 50%;
  background-color: #46b8da;
  -webkit-animation: loader 1s infinite ease-in-out;
}
.loader:nth-child(1) {
  -webkit-animation-delay: 0s;
}
.loader:nth-child(2) {
  -webkit-animation-delay: .1s;
}
.loader:nth-child(3) {
  -webkit-animation-delay: .2s;
}
.loader:nth-child(4) {
  -webkit-animation-delay: .3s;
}
@-webkit-keyframes loader {
  0%, 80%, 100% {
    -webkit-transform: scale(.1);
    opacity: .1;
  }
  40% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
/**/

.s3-header > * {
  display: inline-block;
  margin: 6px;
}
.s3-header .btn {
  margin: 0;
  padding: 8px 12px;
}
.s3-header > .breadcrumb {
  padding: 2px 8px 2px 2px;
}
.s3-header li a:hover.disabled,
.s3-header li a:focus.disabled {
  text-decoration: none;
}
.s3-header img {
  width: 28px;
  height: 28px;
}
