<div class="modal-header">
  <button class="close" ng-click="$dismiss()">&times;</button>
  <h3 ng-bind="'ec2.'+mode|i18next"></h3>
</div>
<div class="modal-body">
  <form name="form" class="form-horizontal">
    <div class="form-group">
      <div class="col-xs-12"
           ng-bind="'ec2.'+mode+'Msg.'+(instances.length>1 ? 1 : 0)|i18next"></div>
    </div>
    <div class="form-group"
         ng-if="mode=='stopInstance'">
      <div class="col-xs-12">
        <div class="alert alert-warning"
             ng-bind="'ec2.'+mode+'Msg2'|i18next"></div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-4 control-label"
             ng-bind="'ec2.instance'|i18next"></label>
      <div class="col-xs-8 form-control-static">
        <div ng-repeat="i in instances"
             ng-bind="i.InstanceId">
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <div class="alert alert-danger" ng-show="error">{{error|errorMsg:'ec2'}}</div>
  <button class="btn btn-default"
          ng-click="$dismiss()"
          ng-disabled="processing">
    <label>{{'com.cancel'|i18next}}</label>
  </button>
  
  <button class="btn btn-loading"
          ng-class="btnClass"
          ng-repeat="s in ['start', 'reboot', 'stop', 'terminate']"
          ng-if="mode==s+'Instance'"
          ng-click="command(s)"
          ng-disabled="processing || form.$invalid">
    <label ng-show="processing" class="loading"></label>
    <label>{{'ec2.'+s|i18next}}</label>
  </button>
  <!--
  <button class="btn btn-loading btn-info"
          ng-if="mode=='startInstance'"
          ng-click="start()"
          ng-disabled="processing || form.$invalid">
    <label ng-show="processing" class="loading"></label>
    <label>{{'ec2.start'|i18next}}</label>
  </button>
  <button class="btn btn-loading btn-danger"
          ng-if="mode=='stopInstance'"
          ng-click="stop()"
          ng-disabled="processing || form.$invalid">
    <label ng-show="processing" class="loading"></label>
    <label>{{'ec2.stop'|i18next}}</label>
  </button>
  -->
</div>
