<div class="modal-header">
  <button class="close" ng-click="$dismiss()">&times;</button>
  <h3 ng-bind="::'ec2.createSubnet'|i18next"></h3>
</div>
<div class="modal-body ec2-create-vpc-dialog">
  <form name="inputs.form" class="form-horizontal">
    <div class="form-group">
      <label class="col-xs-3 control-label"
             ng-bind="::'ec2.region'|i18next"></label>
      <div class="col-xs-9">
        <div class="form-control-static"
             ng-bind="'ec2.regionName.'+inputs.region|i18next"></div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-3 control-label"
             ng-bind="::'ec2.vpc'|i18next"></label>
      <div class="col-xs-9">
        <div class="form-control-static"
             ng-bind="inputs.vpc.CidrBlock + ' - ' + ec2Info.getDisplayName(inputs.vpc, 'tags', 'VpcId')"></div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-3 control-label"
             ng-bind="::'ec2.cidrBlock'|i18next"></label>
      <div class="col-xs-9">
        <input class="form-control" name="cidrBlock" spellcheck="false"
               ng-model="inputs.cidrBlock"
               uib-typeahead="c for c in getCidrCandidate()"
               typeahead-focus-first="false"
               ui-validate="'ec2Info.isValidCidrBlock($value, 16, 28, inputs.vpc.CidrBlock)'"
               app-focus-on="cidrBlock">
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-3 control-label"
             ng-bind="::'ec2.nameTag'|i18next"></label>
      <div class="col-xs-9">
        <input class="form-control" name="name" spellcheck="false"
               ng-model="inputs.name"
               app-focus-on="name">
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-3 control-label"
             ng-bind="::'ec2.availabilityZone'|i18next"></label>
      <div class="col-xs-9">
        <input type="hidden" name="zone" ng-model="inputs.zone">
        <div class="btn-group" uib-dropdown>
          <button class="btn btn-raised" uib-dropdown-toggle
                  ng-disabled="processing">
            <span ng-bind="inputs.zone ? inputs.zone : ('ec2.noPreference'|i18next)">
            </span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a ng-click="inputs.zone=undefined"
                 ng-bind="::'ec2.noPreference'|i18next"></a>
            </li>
            <li ng-repeat="z in ec2Info.getAvailabilityZones(inputs.region)">
              <a ng-click="inputs.zone=z"
                 ng-bind="::z"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-3 control-label"
             ng-bind="::'ec2.publicIp'|i18next"></label>
      <div class="col-xs-9 checkbox">
        <label>
          <input type="checkbox" name="mapPublicIpOnLaunch" ng-model="inputs.mapPublicIpOnLaunch">
          <span class="checkbox-material"><span class="check"></span></span><span ng-bind="::'ec2.mapPublicIpOnLaunch'|i18next"></span>
        </label>
      </div>
    </div>
  </form>
  <div class="cover" ng-if="processing"><div class="modal-loader"></div></div>
</div>
<div class="modal-footer">
  <div class="alert alert-danger" ng-show="error" ng-bind="error|errorMsg:'ec2'"></div>
  <button class="btn btn-raised"
          ng-bind="::'com.cancel'|i18next"
          ng-click="$dismiss()"></button>
  <button class="btn btn-raised"
          ng-class="{'btn-success':!inputs.form.$invalid}"
          ng-disabled="inputs.form.$invalid"
          ng-bind="::'com.create'|i18next"
          ng-click="create()"></button>
  <div class="cover" ng-if="processing"></div>
</div>
