<div class="func-view">
  <uib-accordion close-others="false">
    <div class="no-instances"
         ng-if="ec2Info.getVpcs() && !ec2Info.getVpcs().length"
         ng-bind="::'ec2.noInstances'|i18next"></div>
    <uib-accordion-group class="panel-default ec2-vpc-panel"
                     ng-repeat="v in ec2Info.getVpcs() | orderBy:['regionIdx','tags.Name','VpcId']"
                     is-open="v.isOpen"
                     ng-if="v.Subnets">
      <uib-accordion-heading>
        <div class="vpc-region" ng-if="ec2Info.getCurrentRegion()=='all'"
             ng-bind="'ec2.regionName.'+v.region|i18next">
        </div>
        <i class="fa fa-chevron-right" ng-class="{'fa-rotate-90': v.isOpen}"></i>

        <span ng-if="v.isClassic">EC2 Classic</span>
        <span ng-if="!v.isClassic && v.tags.Name"
              ng-bind="v.tags.Name+' ( ' + v.VpcId + ' )'"></span>
        <span ng-if="!v.isClassic && !v.tags.Name"
              ng-bind="v.VpcId"></span>
        <span class="badge"
              ng-bind="ec2Info.getNumOfRunningInstances(v.region, v.VpcId)">
        </span>
      </uib-accordion-heading>
      <div class="subnet"
           ng-repeat="s in v.Subnets | orderBy:['tags.Name', 'SubnetId']">
        <div class="subnet-title">
          <div ng-if="!s.SubnetId">EC2 Classic</div>
          <div ng-if="s.SubnetId"
               ng-bind="s.SubnetId +' - ' + s.CidrBlock"></div>
          <div ng-bind="s.AvailabilityZone"></div>
        </div>
        <div class="subnet-body">
          <!--
          <div class="no-instances"
               ng-if="!ec2Info.getInstances(v.region, v.VpcId, s.SubnetId).length"
               ng-bind="'ec2.noInstances'|i18next"></div>
          -->
          <div ng-repeat="i in ec2Info.getInstances(v.region, v.VpcId, s.SubnetId) | orderBy:['tags.Name','InstanceId']">
            <div class="instance"
                 ng-class="{selected: ec2Info.isSelectedInstance(i)}"
                 ng-click="ec2Info.selectInstances([i], s, v);">
              <img src="images/Instance.svg" ng-class="'state-' + i.State.Name">
              <div class="instance-name">
                <div ng-bind="i.tags.Name ? i.tags.Name : i.InstanceId"
                     ng-attr-title="{{i.tags.Name ? i.tags.Name : '( ' + i.InstanceId + ' )'}}"></div>
                <div ng-bind="i.tags.Name ? '( ' + i.InstanceId + ' )': ''"></div>
              </div>
              <div class="instance-state"
                   ng-bind="i.InstanceType + ' - ' + i.State.Name">
              </div>
            </div>
          </div>
        </div>

      </div>

    </uib-accordion-group>
  </uib-accordion>
</div>

<div uib-dropdown class="position-fixed" contextmenu-for=".subnet-body">
  <ul uib-dropdown-menu>
    <li ng-repeat="m in ec2Actions.all"
        ng-class="{divider:!m.length, disabled:ec2Actions.isDisabled(m)}">
      <a ng-if="m.length" ng-class="{withoutripple:ec2Actions.isDisabled(m)}"
         ng-click="ec2Actions.onClick($event, m);"
         ng-bind="::'ec2.'+m|i18next">
      </a>
    </li>
  </ul>
</div>
