<div class="func-view" id="ec2-main-view">
  <uib-accordion close-others="false">
    <div class="no-instances"
         ng-if="ec2Info.getVpcs() && !ec2Info.getVpcs().length"
         ng-bind="::'ec2.noInstances'|i18next"></div>
    <uib-accordion-group class="panel-default ec2-vpc-panel"
                     ng-repeat="v in ec2Info.getVpcs() | orderBy:['regionIdx','tags.Name','VpcId']"
                     is-open="v.isOpen"
                     ng-if="v.Subnets">
      <uib-accordion-heading>
        <div class="vpc-region" ng-if="ec2Info.getCurrentRegion()=='all'"
             ng-bind="::'ec2.regionName.'+v.region|i18next">
        </div>
        <i class="fa fa-chevron-right" ng-class="{'fa-rotate-90': v.isOpen}"></i>

        <span ng-if="v.isClassic">EC2 Classic</span>
        <span ng-if="!v.isClassic && v.tags.Name"
              ng-bind="v.tags.Name+' ( ' + v.VpcId + ' )'"></span>
        <span ng-if="!v.isClassic && !v.tags.Name"
              ng-bind="v.VpcId"></span>
        <span class="badge"
              ng-bind="ec2Info.getNumOfRunningInstances(v.region, v.VpcId)">
        </span>
      </uib-accordion-heading>
      <div class="subnet"
           ng-repeat="s in v.Subnets | orderBy:['tags.Name', 'SubnetId']">
        <div class="subnet-title">
          <div ng-if="!s.SubnetId">EC2 Classic</div>
          <div ng-if="s.SubnetId"
               ng-bind="s.SubnetId +' - ' + s.CidrBlock"></div>
          <div ng-bind="::s.AvailabilityZone"></div>
        </div>
        <div class="subnet-body">
          <!--
          <div class="no-instances"
               ng-if="!ec2Info.getInstances(v.region, v.VpcId, s.SubnetId).length"
               ng-bind="'ec2.noInstances'|i18next"></div>
          -->
          <div ng-repeat="i in ec2Info.getInstances(v.region, v.VpcId, s.SubnetId) | orderBy:['tags.Name','InstanceId']">
            <div class="instance"
                 ng-class="{selected: ec2Info.isSelectedInstance(i)}"
                 ng-click="ec2Info.selectInstances([i], s, v);"
                 app-right-click="ec2Info.selectInstances([i], s, v);">
              <img src="images/Instance.svg" ng-class="'state-' + i.State.Name">
              <div class="instance-name outline-text">
                <div ng-bind="i.tags.Name ? i.tags.Name : i.InstanceId"
                     ng-attr-title="{{i.tags.Name ? i.tags.Name : '( ' + i.InstanceId + ' )'}}"></div>
                <div ng-bind="i.tags.Name ? '( ' + i.InstanceId + ' )': ''"></div>
              </div>
              <button class="btn btn-detail pull-right"
                      ng-click="popupDetail($event)">
                <i class="fa fa-list"></i>
              </button>
              <div class="instance-state outline-text"
                   ng-bind="i.InstanceType + ' - ' + i.State.Name">
              </div>
            </div>
          </div>
        </div>

      </div>

    </uib-accordion-group>
  </uib-accordion>
</div>

<div ng-show="popupInstance"
     class="func-view">
  <div class="instance detail"
       ng-style="popupStyle">
    <img src="images/Instance.svg" ng-class="'state-' + popupInstance.State.Name">
    <div class="instance-name outline-text">
      <div ng-bind="popupInstance.tags.Name ? popupInstance.tags.Name : popupInstance.InstanceId"
           ng-attr-title="{{popupInstance.tags.Name ? popupInstance.tags.Name : '( ' + popupInstance.InstanceId + ' )'}}"></div>
      <div ng-bind="popupInstane.tags.Name ? '( ' + popupInstance.InstanceId + ' )': ''"></div>
    </div>
    <button class="btn btn-close pull-right"
            ng-click="popupInstance=null;popupStyle=null;">&times;</button>
    <div class="detail-field">
      <div class="caption" ng-bind="'ec2.detail.baseInformation'|i18next"></div>
      <table>
        <tr>
          <th><div ng-bind="::'ec2.detail.instanceId'|i18next"></div></th>
          <td><div ng-bind="popupInstance.InstanceId"></div></td>
          <th><div ng-bind="::'ec2.detail.instanceType'|i18next"></div></th>
          <td><div ng-bind="popupInstance.InstanceType"></div></td>
        </tr>
        <tr>
          <th><div ng-bind="::'ec2.detail.instanceState'|i18next"></div></th>
          <td><div ng-bind="popupInstance.State.Name"></div></td>
        </tr>
      </table>
      <div class="caption" ng-bind="'ec2.detail.network'|i18next"></div>
      <table>
        <tr>
          <th><div ng-bind="::'ec2.detail.vpc'|i18next"></div></th>
          <td><div ng-bind="popupInstance.VpcId"></div></td>
          <th><div ng-bind="::'ec2.detail.subnet'|i18next"></div></th>
          <td><div ng-bind="popupInstance.SubnetId"></div></td>
        </tr>
        <tr>
          <th><div ng-bind="::'ec2.detail.securityGroups'|i18next"></div></th>
          <td colspan="3"><div>
            <span ng-repeat-start="g in popupInstance.SecurityGroups"
                  ng-bind="g.GroupName + ' (' + g.GroupId + ') '"></span>
            <span ng-repeat-end ng-if="!$last">,&nbsp;</span>
          </div></td>
        </tr>
        <tr>
          <th><div ng-bind="::'ec2.detail.publicDns'|i18next"></div></th>
          <td colspan="3"><div>
            <span ng-bind="popupInstance.PublicDnsName"></span>
            (<span ng-bind="popupInstance.PublicIpAddress"></span>)
          </div></td>
        </tr>
        <tr>
          <th><div ng-bind="::'ec2.detail.privateDns'|i18next"></div></th>
          <td colspan="3"><div>
            <span ng-bind="popupInstance.PrivateDnsName"></span>
            (<span ng-bind="popupInstance.PrivateIpAddress"></span>)
          </div></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div uib-dropdown class="position-fixed" contextmenu-for="#ec2-main-view">
  <ul uib-dropdown-menu>
    <li ng-repeat="m in ec2Actions.all track by $index"
        ng-class="{divider:!m.length, disabled:ec2Actions.isDisabled(m),'dropdown-submenu':(m|isArray)}">
      <a ng-if="!(m|isArray) && m.length" ng-class="{withoutripple:ec2Actions.isDisabled(m)}"
         ng-click="ec2Actions.onClick($event, m);"
         ng-bind="::'ec2.'+m|i18next">
      </a>
      <a uib-dropdown-toggle ng-if="m|isArray"
         ng-bind="::'ec2.'+m[0]|i18next"
         ng-disabled="true">
      </a>
      <ul uib-dropdown-menu ng-if="m|isArray">
        <li ng-repeat="m2 in m[1]"
            ng-class="{disabled:ec2Actions.isDisabled(m2)}">
          <a ng-click="ec2Actions.onClick($event, m2);"
             ng-bind="::'ec2.'+m2|i18next"></a>
        </li>
      </ul>
    </li>
  </ul>
</div>
