<div class="func-view">
  <accordion close-others="false">
    <accordion-group class="panel-default ec2-vpc-panel"
                     ng-repeat="v in ec2Info.getVpcs()"
                     is-open="v.isOpen"
                     ng-if="v.Subnets">
      <accordion-heading>
        <div class="vpc-region" ng-if="ec2Info.getCurrentRegion()=='all'">
          {{'ec2.regionName.'+v.region|i18next}}
        </div>
        <i class="fa fa-chevron-right" ng-class="{'fa-rotate-90': v.isOpen}"></i>

        <span ng-if="v.isClassic">EC2 Classic</span>
        <span ng-if="!v.isClassic && v.tags.Name">{{v.tags.Name}} ( {{v.VpcId}} )</span>
        <span ng-if="!v.isClassic && !v.tags.Name">{{v.VpcId}}</span>
      </accordion-heading>
      <div ng-repeat="s in v.Subnets" class="subnet">
        <div class="subet-title">
          <div ng-if="!s.SubnetId">EC2 Classic</div>
          <div ng-if="s.SubnetId">{{s.SubnetId}} - {{s.CidrBlock}}</div>
          <div>{{s.AvailabilityZone}}</div>
        </div>
        <div class="subnet-body">
          <div ng-repeat="i in ec2Info.getInstances() | ec2InVpcSubnet:v.VpcId:s.SubnetId">
            <div class="instance"
                 ng-class="{selected: ec2Info.isSelectedInstance(i)}"
                 ng-click="ec2Info.selectInstances([i])">
              <img src="images/Instance.svg" class="state-{{i.State.Name}}">
              <div>
                <div ng-if="i.tags.Name">{{i.tags.Name}}</div>
                <div ng-if="!i.tags.Name">( {{i.InstanceId}} )</div>
                <div> {{i.InstanceType}} - {{i.State.Name}}</div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </accordion-group>
  </accordion>
</div>
