<div class="ec2-header">
  <div class="btn-group" uib-dropdown>
    <button class="btn" uib-dropdown-toggle>
      <span ng-bind="::'com.action'|i18next"></span>
      <span class="caret"></span>
    </button>
    <ul class="uib-dropdown-menu">
      <li ng-repeat="m in ec2Actions.all"
          ng-class="{divider:!m.length, disabled:ec2Actions.isDisabled(m)}">
        <a ng-if="m.length" ng-click="ec2Actions.onClick($event, m);"
           ng-bind="::'ec2.'+m|i18next">
        </a>
      </li>
    </ul>
  </div>
  <div class="btn-group pull-right" uib-dropdown>
    <button class="btn" uib-dropdown-toggle ng-disabled="processing">
      <span ng-bind="'ec2.regionName.'+ec2Info.getCurrentRegion()|i18next"></span>
      <span class="caret"></span>
    </button>
    <ul class="uib-dropdown-menu">
      <li ng-if="r !== 'all'">
        <a ng-click="ec2Info.setCurrentRegion('all')"
           ng-bind="::'ec2.regionName.all'|i18next">
        </a>
      </li>
      <li ng-repeat="r in awsRegions.ec2" ng-if="r !== inputs.region">
        <a ng-click="ec2Info.setCurrentRegion(r)"
           ng-bind="::('ec2.regionName.'+r|i18next) + ' - '+ r">
        </a>
      </li>
    </ul>
  </div>
</div>
