<div class="modal-header">
  <button class="close" ng-click="$dismiss()">&times;</button>
  <h3 ng-bind="::'ec2.retrieveWindowsPassword'|i18next"></h3>
</div>
<div class="modal-body ec2-get-password-dialog clearfix">
  <form name="inputs.form" class="form-horizontal">
    <div class="clearfix col-xs-12 form-control-static"
         ng-if="passwordData==''"
         ng-bind="::'ec2.passwordNotAvailableYet'|i18next">
    </div>
    <div class="clearfix col-xs-12 form-control-static"
         ng-if="passwordData && !password"
         ng-bind="::'ec2.retrieveWindowsPasswordMsg'|i18next">
    </div>
    <div class="form-group" ng-if="passwordData && !password">
      <label class="col-xs-3 control-label"
             ng-bind="::'ec2.instance'|i18next"></label>
      <div class="col-xs-9">
        <div class="form-control" ng-bind="::getDisplayName(instance, 'tags', 'InstanceId')"></div>
      </div>
    </div>
    <div class="form-group" ng-if="passwordData && !password">
      <label class="col-xs-3 control-label"
             ng-bind="::'ec2.keyName'|i18next"></label>
      <div class="col-xs-9">
        <div class="form-control" ng-bind="::instance.KeyName"></div>
      </div>
    </div>
    <div class="form-group" ng-if="passwordData && !password">
      <label class="col-xs-3 control-label"
             ng-bind="::'ec2.privateKey'|i18next"></label>
      <div class="col-xs-9">
        <button class="btn btn-raised btn-sm btn-in-form"
                ng-bind="::'ec2.specifyPrivateKeyPath'|i18next"
                ng-click="loadKeyFile()"></button>
        <textarea class="form-control"
                  ng-attr-placeholder="{{::'ec2.pastPrivateKeyContents'|i18next}}"
                  ng-model="inputs.rsaKeyText"></textarea>
      </div>
    </div>
    <div class="clearfix" ng-if="password===false">
      <div class="col-xs-12 alert alert-danger"
           ng-bind="::'ec2.passwordDecryptionError'|i18next"></div>
    </div>
    <div class="clearfix" ng-if="password">
      <div class="col-xs-12 alert alert-success"
           ng-bind="::'ec2.passwordDecrypted'|i18next"></div>
    </div>
    <div class="form-group" ng-if="password">
      <label class="col-xs-3 control-label"
             ng-bind="::'ec2.password'|i18next"></label>
      <div class="col-xs-8">
        <input ng-model="password" class="form-control" readonly>
      </div>
    </div>
  </form>
  <div class="cover" ng-if="processing"><div class="modal-loader"></div></div>
</div>
<div class="modal-footer">
  <div class="alert alert-danger" ng-show="error" ng-bind="error|errorMsg:'ec2'"></div>
  <button class="btn btn-raised"
          ng-bind="password?'com.ok':'com.cancel'|i18next"
          ng-click="$dismiss()"></button>
  <div class="cover" ng-if="processing"></div>
</div>
