<div class="modal-header">
  <button class="close" ng-click="$dismiss()">&times;</button>
  <h3 ng-bind="::'ec2.manageSecurityGroups'|i18next"></h3>
</div>
<div class="modal-body ec2-manage-vpc-subnet-dialog">
  <form name="inputs.form" class="form-horizontal">
    <div class="form-group">
      <label class="col-xs-2 control-label"
             ng-bind="::'ec2.region'|i18next"></label>
      <div class="col-xs-10">
        <div class="form-control-static"
             ng-bind="'ec2.regionName.'+inputs.region|i18next"></div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-2 control-label"
             ng-bind="::'ec2.vpc'|i18next"></label>
      <div class="col-xs-10">
        <div class="form-control-static"
             ng-bind="inputs.vpc.CidrBlock + ' - ' + ec2Info.getDisplayName(inputs.vpc, 'tags', 'VpcId')"></div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-2 control-label"
             ng-bind="::'ec2.securityGroup'|i18next"></label>
      <div class="col-xs-7">
        <input name="securityGroup" type="hidden">
        <div class="btn-group" dropdown>
          <button class="btn" dropdown-toggle
                  ng-disabled="processing || !inputs.vpc">
            <span ng-if="inputs.securityGroup" 
                  ng-bind="inputs.securityGroup.GroupName + ' (' + inputs.securityGroup.GroupId + ')'"></span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li ng-repeat="g in ec2Info.getSecurityGroups(inputs.vpc.region, inputs.vpc.VpcId)">
              <a ng-click="inputs.securityGroup=g"
                 ng-bind="g.GroupName + ' (' + g.GroupId + ')'"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </form>
  <div class="cover" ng-if="processing"><div class="modal-loader"></div></div>
</div>
<div class="modal-footer">
  <div class="alert alert-danger" ng-show="error" ng-bind="error|errorMsg:'ec2'"></div>
  <button class="btn btn-raised"
          ng-bind="::'com.cancel'|i18next"
          ng-click="$dismiss()"></button>
  <button class="btn btn-raised"
          ng-class="{'btn-success':inputs.subnet}"
          ng-disabled="!inputs.subnet"
          ng-bind="::'com.ok'|i18next"
          ng-click="$close(inputs.group)"></button>
  <div class="cover" ng-if="processing"></div>
</div>
