<div class="modal-header">
  <button class="close" ng-click="$dismiss()">&times;</button>
  <h3 ng-bind="::'ec2.manageVpcSubnet'|i18next"></h3>
</div>
<div class="modal-body ec2-manage-vpc-subnet-dialog">
  <form name="inputs.form" class="form-horizontal">
    <div class="form-group">
      <label class="col-xs-2 control-label"
             ng-bind="::'ec2.region'|i18next"></label>
      <div class="col-xs-10">
        <input type="hidden" name="region" ng-model="inputs.region" required>
        <div class="btn-group" uib-dropdown>
          <button class="btn btn-raised" uib-dropdown-toggle
                  ng-class="{'btn-info':!inputs.region,'btn-raised':!inputs.region}"
                  ng-disabled="processing">
            <span ng-if="inputs.region"
                  ng-bind="'ec2.regionName.'+inputs.region|i18next">
            </span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li ng-repeat="r in awsRegions.ec2">
              <a ng-click="inputs.region=r"
                 ng-bind="::'ec2.regionName.'+r|i18next"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="form-group vpc-subnet">
      <div class="col-xs-6 vpc-list">
        <ul class="nav nav-pills nav-stacked">
          <li>
            <span ng-bind="::'ec2.vpc'|i18next"></span>
            <button class="btn btn-raised"
                    ng-disabled="!inputs.region"
                    ng-class="{'btn-info':inputs.region && !ec2Info.getVpcs(inputs.region).length}"
                    ng-bind="'add'"
                    ng-click="openCreateVpcDialog()"></button>
          </li>
          <li ng-repeat="v in ec2Info.getVpcs(inputs.region)|orderBy:cidrOrderBy"
              ng-class="{active:v==inputs.vpc}">
            <a ng-if="inputs.region"
               ng-click="inputs.vpc=v"
               ng-bind="v.CidrBlock + ' - ' + ec2Info.getDisplayName(v, 'tags', 'VpcId')"></a>
          </li>
        </ul>
      </div>
      <div class="col-xs-6 subnet-list">
        <ul class="nav nav-pills nav-stacked">
          <li>
            <span ng-bind="::'ec2.subnet'|i18next"></span>
            <button class="btn btn-raised"
                    ng-disabled="!inputs.region || !inputs.vpc"
                    ng-class="{'btn-info':inputs.region && inputs.vpc.Subnet.length}"
                    ng-bind="'add'"
                    ng-click="openCreateSubnetDialog()"></button>
          </li>
          <li ng-repeat="s in inputs.vpc.Subnets|orderBy:cidrOrderBy"
              ng-class="{active:s==inputs.subnet}">
            <a ng-if="inputs.region"
               ng-click="inputs.subnet=s"
               ng-bind="s.CidrBlock + ' | ' + s.AvailabilityZone + ' - ' + ec2Info.getDisplayName(s, 'tags', 'SubnetId')"></a>
          </li>
        </ul>
      </div>
    </div>
  </form>
  <div class="cover" ng-if="processing"><div class="modal-loader"></div></div>
</div>
<div class="modal-footer">
  <div class="alert alert-danger" ng-show="error" ng-bind="error|errorMsg:'ec2'"></div>
  <button class="btn btn-raised"
          ng-bind="::'com.cancel'|i18next"
          ng-click="$dismiss()"></button>
  <button class="btn btn-raised"
          ng-class="{'btn-success':inputs.subnet}"
          ng-disabled="!inputs.subnet"
          ng-bind="::'com.ok'|i18next"
          ng-click="$close({vpc:inputs.vpc,subnet:inputs.subnet})"></button>
  <div class="cover" ng-if="processing"></div>
</div>
