<div class="modal-header">
  <button class="close" ng-click="$dismiss()">&times;</button>
  <h3 ng-bind="::'ec2.runInstances'|i18next"></h3>
</div>
<div class="modal-body ec2-run-instances-dialog">
  <form name="inputs.form" class="form-horizontal">
<!--
    <tabset>
      <tab heading="_">
-->
    <div class="form-group">
      <label class="col-xs-2 control-label">
        <div ng-bind="::'ec2.subnet'|i18next"></div>
        <div ng-bind="::('ec2.vpc'|i18next) + ' / ' + ('ec2.region'|i18next)"></div>
      </label>
      <div class="col-xs-7">
        <input name="subnet" type="hidden" ng-model="inputs.subnet" required>
        <div class="btn-group" uib-dropdown>
          <button class="btn btn-raised" uib-dropdown-toggle
                  ng-disabled="processing">
            <span ng-if="inputs.subnet"
                  ng-bind="inputs.subnet.CidrBlock + ' | ' + inputs.subnet.AvailabilityZone + ' - ' + getDisplayName(inputs.subnet, 'tags', 'SubnetId')">
            </span>
            <span class="caret"></span>
          </button>
          <ul uib-dropdown-menu>
            <li class="dropdown-header"
                ng-repeat-start="v in ec2Info.getVpcs()|orderBy:['regionIdx','tags.Name','VpcId']"
                ng-bind="getDisplayName(v, 'tags', 'VpcId') + ' - ' + ('ec2.regionName.'+v.region|i18next)"
                ng-if="v.Subnets.length"
                ng-click="$event.stopPropagation()">
            </li>
            <li ng-repeat-end
                ng-repeat="s in v.Subnets">
              <a ng-click="inputs.subnet=s;inputs.vpc=v"
                 ng-bind="s.CidrBlock + ' | ' + s.AvailabilityZone  + ' - ' + getDisplayName(s, 'tags', 'SubnetId')"></a>
            </li>
          </ul>
        </div>
        <div class="form-control-static"
             ng-bind="getDisplayName(inputs.subnet, 'vpcTags', 'VpcId') + (inputs.subnet.region ? (' / ' + ('ec2.regionName.'+inputs.subnet.region|i18next)) : '')">
        </div>
      </div>
      <div class="col-xs-3 text-right">
        <button class="btn btn-raised btn-info" style="margin-top:-2px"
                ng-click="openManageVpcSubnetDialog()"
                ng-bind="::'ec2.manageVpcSubnet'|i18next"></button>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-2 control-label"
             ng-bind="::'ec2.AMI'|i18next"></label>
      <div class="col-xs-7">
        <input name="ami" type="hidden" ng-model="inputs.ami" required>
        <div class="btn-group" uib-dropdown>
          <button class="btn btn-raised" uib-dropdown-toggle
                  ng-disabled="processing || !inputs.subnet">
            <i ng-if="inputs.ami.icon" class="ami-icon" ng-class="'icon-'+inputs.ami.icon"></i>
            <span ng-if="inputs.ami"
                  ng-bind="inputs.ami.name + ' (' + inputs.ami.ImageId + ')'"></span>
            <span class="caret"></span>
          </button>
          <ul uib-dropdown-menu>
            <li ng-repeat="a in ec2Info.getAMIs(inputs.subnet.region)">
              <a ng-click="inputs.ami=a">
                <i ng-if="a.icon" class="ami-icon" ng-class="'icon-'+a.icon"></i>
                <span ng-bind="::a.name + ' (' + a.ImageId +')'"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-2 control-label"
             ng-bind="::'ec2.instanceType'|i18next"></label>
      <div class="col-xs-10">
        <input name="instanceType" type="hidden" ng-model="inputs.instanceType" required>
        <div class="btn-group" uib-dropdown>
          <button class="btn btn-raised" uib-dropdown-toggle
                  ng-disabled="processing || !inputs.subnet || !inputs.ami">
            <span ng-if="inputs.instanceType"
                  ng-bind="inputs.instanceType.type + ' (' + inputs.instanceType.vCpu + 'vCPU, ' + inputs.instanceType.memory + 'GB memory)'"></span>
            <span class="caret"></span>
          </button>
          <ul uib-dropdown-menu>
            <li class="dropdown-header"
                ng-repeat-start="tg in ec2Info.getInstanceTypes(inputs.subnet.region)"
                ng-bind="::('ec2.instanceFamilyDescription.' + tg.familyDescription|i18next) + ' (' + tg.family + ')'"
                ng-click="$event.stopPropagation()">
            </li>
            <li ng-repeat-end
                ng-repeat="t in tg.types"
                ng-class="{disabled: unavalableInstanceFamily(tg)}">
              <a ng-click="unavalableInstanceFamily(tg) ? $event.stopPropagation() :  (inputs.instanceType=t)"
                 ng-bind="::t.type + ' (' + t.vCpu + 'vCPU, ' + t.memory + 'GB memory)'"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-2 control-label"
             ng-bind="::'ec2.nameTag'|i18next"></label>
      <div class="col-xs-7">
        <input class="form-control" name="name" ng-model="inputs.name">
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-2 control-label"
             ng-bind="::'ec2.securityGroups'|i18next"></label>
      <div class="col-xs-7">
        <input name="securityGroups" type="hidden" ng-model="inputs.securityGroups[0].GroupId" required>
        <div ng-repeat="(idx, group) in inputs.securityGroups">
        <div class="btn-group" uib-dropdown>
          <button class="btn btn-raised" uib-dropdown-toggle
                  ng-disabled="processing || !inputs.subnet">
            <span ng-if="inputs.securityGroups[idx]"
                  ng-bind="inputs.securityGroups[idx].GroupName + ' (' + inputs.securityGroups[idx].GroupId + ')'"></span>
            <span class="caret"></span>
          </button>
          <ul uib-dropdown-menu>
            <li ng-repeat="g in ec2Info.getSecurityGroups(inputs.subnet.region, inputs.subnet.VpcId)"
                ng-class="{disabled:inputs.securityGroups.indexOf(g) >= 0}">
              <a ng-click="(inputs.securityGroups.indexOf(g)<0) && setSecurityGroup(g, idx)"
                 ng-bind="g.GroupName + ' (' + g.GroupId + ')'"></a>
            </li>
          </ul>
          <button class="btn remove-group"
                  ng-if="inputs.securityGroups.length && group.GroupId"
                  ng-disabled="processing"
                  ng-click="inputs.securityGroups.splice(idx,1)">
            <i class="fa fa-times"></i>
          </button>
        </div>
        </div>
      </div>
      <div class="col-xs-3 text-right">
        <button class="btn btn-raised btn-info" style="margin-top:-2px"
                ng-disabled="!inputs.subnet"
                ng-click="openManageSecurityGroupsDialog()"
                ng-bind="::'ec2.manageSecurityGroups'|i18next"></button>
      </div>
    </div>
<!--
      </tab>
    </tabset>
-->
  </form>
  <div class="cover" ng-if="processing"><div class="modal-loader"></div></div>
</div>
<div class="modal-footer">
  <div class="alert alert-danger" ng-show="error" ng-bind="error|errorMsg:'ec2'"></div>
  <button class="btn btn-raised"
          ng-bind="::'com.cancel'|i18next"
          ng-click="$dismiss()"></button>
  <button class="btn btn-raised"
          ng-bind="::'com.create'|i18next"
          ng-click="launch()"
          ng-class="{'btn-success':!inputs.form.$invalid}"
          ng-disabled="processing || inputs.form.$invalid"></button>
  <div class="cover" ng-if="processing"></div>
</div>
