<div class="modal-header">
  <button class="close" ng-if="canCancel" ng-click="$dismiss()">&times;</button>
  <h3>{{'com.credentials'|i18next}}</h3>
</div>
<div class="modal-body"><form name=form role="form">
  <div class="form-group">
    <label>{{'com.accessKeyId'|i18next}}</label>
    <input type="text" class="form-control" placeholder="{{'com.accessKeyId'|i18next}}"
           ng-model="inputs.accessKeyId" 
           ui-validate=" '$value.length > 0'  "
           ng-disabled="processing" >
  </div>
  <div class="form-group">
    <label>{{'com.secretAccessKey'|i18next}}</label>
    <input type="password" class="form-control" placeholder="{{'com.secretAccessKey'|i18next}}" 
           ng-model="inputs.secretAccessKey" 
           ui-validate=" '$value.length > 0'  "
           ng-disabled="processing" >
  </div>
</form></div>
<div class="modal-footer">
  <div class="alert alert-warning" ng-show="error">{{error}}</div>
  <button class="btn btn-success btn-loading"
          ng-click="save()"
          ng-disabled="processing || form.$invalid" >
    <label ng-show="processing" class=loading></label>
    <label>{{'com.save'|i18next}}</label>
  </button>
</div>
