<div class="modal-header">
  <button class="close" ng-if="canCancel" ng-click="$dismiss()">&times;</button>
  <h3 ng-if="mode=='set'">{{'com.setPassword'|i18next}}</h3>
  <h3 ng-if="mode=='auth'">{{'com.inputPassword'|i18next}}</h3>
</div>
<div class="modal-body">
  <div ng-if="mode=='set'">{{'com.setPasswordMsg'|i18next}}</div>
  <form name="form">
    <div class="form-group">
      <label>{{'com.password'|i18next}}</label>
      <input type="password" class="form-control"
             placeholder="{{'com.password'|i18next}}"
             ng-model="inputs.password"
             ui-validate="'$value.length > 0'"
             ng-disabled="processing">
    </div>
    <div class="form-group" ng-if="mode=='set'">
      <label>{{'com.password2'|i18next}}</label>
      <input type="password" class="form-control"
             placeholder="{{'com.password2'|i18next}}"
             ng-model="inputs.password2"
             ui-validate="'$value.length > 0 && $value==inputs.password'"
             ui-validate-watch="'inputs.password'"
             ng-disabled="processing">
    </div>
  </form>
</div>
<div class="modal-footer">
  <div class="alert alert-warning" ng-show="error">{{error|errorMsg:'com'}}</div>
  <button class="btn btn-loading"
          ng-if="mode=='auth'"
          ng-click="auth()"
          ng-class="{'btn-info':!form.$invalid,'btn-default':form.$invalid}"
          ng-disabled="processing || form.$invalid">
    <label ng-show="processing" class=loading></label>
    <label>{{'com.ok'|i18next}}</label>
  </button>
  <button class="btn btn-loading"
          ng-if="mode=='set'"
          ng-click="setPassword()"
          ng-class="{'btn-info':!form.$invalid,'btn-default':form.$invalid}"
          ng-disabled="processing || form.$invalid">
    <label ng-show="processing" class=loading></label>
    <label>{{'com.set'|i18next}}</label>
  </button>
</div>
