<div class="modal-header">
  <button class="close"
          ng-if="mode!=='auth'"
          ng-disabled="processing"
          ng-click="$dismiss()">&times;</button>
  <h3 ng-if="mode=='auth'">{{'com.inputPassword'|i18next}}</h3>
  <h3 ng-if="mode=='set'">{{'com.setPassword'|i18next}}</h3>
  <h3 ng-if="mode=='update'">{{'com.updatePassword'|i18next}}</h3>
</div>
<div class="modal-body">
  <div ng-if="mode=='set'">{{'com.setPasswordMsg'|i18next}}</div>
  <form name="inputs.form">
    <div class="form-group" ng-if="mode=='auth'">
      <label>{{'com.password'|i18next}}</label>
      <input type="password" class="form-control"
             name="password"
             placeholder="{{'com.password'|i18next}}"
             ng-model="inputs.password"
             ng-disabled="processing"
             ui-validate="{password:'passwordValidator($value)'}"
             app-focus-on="password">
      <div>
        <span ng-if="inputs.form.password.$dirty && inputs.form.password.$error.password">
         {{'com.error.invalidPassword' | i18next}}
        </span>&nbsp;
      </div>
    </div>
    <div class="form-group" ng-if="mode=='update'">
      <label>{{'com.currentPassword'|i18next}}</label>
      <input type="password" class="form-control"
             name="currentPassword"
             placeholder="{{'com.currentPassword'|i18next}}"
             ng-model="inputs.currentPassword"
             ui-validate="{password:'passwordValidator($value)'}"
             ng-disabled="processing">
      <div>
        <span ng-if="inputs.form.currentPassword.$dirty && inputs.form.currentPassword.$error.password">
         {{'com.error.invalidPassword' | i18next}}
        </span>&nbsp;
      </div>
      <hr>
    </div>
    <div class="form-group" ng-if="mode=='set' || mode=='update'">
      <label>{{'com.newPassword'|i18next}}</label>
      <input type="password" class="form-control"
             placeholder="{{'com.newPassword'|i18next}}"
             ng-model="inputs.newPassword"
             ui-validate="{length : '$value.length > 0'}"
             ng-disabled="processing"
             app-focus-on="newPassword">
    </div>
    <div class="form-group" ng-if="mode=='set' || mode=='update'">
      <label>{{'com.newPassword2'|i18next}}</label>
      <input type="password" class="form-control"
             name="password2"
             placeholder="{{'com.newPassword2'|i18next}}"
             ng-model="inputs.newPassword2"
             ui-validate="{match: '$value==inputs.newPassword'}"
             ui-validate-watch="'inputs.newPassword'"
             ng-disabled="processing"
             app-focus-on="newPassword2">
      <div>
        <span ng-if="inputs.form.password2.$dirty && inputs.form.password2.$error.match">
         {{'com.error.passwordsDoNotMatch' | i18next}}
        </span>&nbsp;
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-loading"
          ng-if="mode=='auth'"
          ng-click="auth()"
          ng-class="{'btn-info':!inputs.form.$invalid,'btn-default':inputs.form.$invalid}"
          ng-disabled="processing || inputs.form.$invalid">
    <label ng-show="processing" class="loading"></label>
    <label>{{'com.ok'|i18next}}</label>
  </button>
  <button class="btn btn-loading"
          ng-if="mode=='set'"
          ng-click="setPassword()"
          ng-class="{'btn-info':!inputs.form.$invalid,'btn-default':inputs.form.$invalid}"
          ng-disabled="processing || inputs.form.$invalid">
    <label ng-show="processing" class="loading"></label>
    <label>{{'com.set'|i18next}}</label>
  </button>
  <button class="btn btn-loading"
          ng-if="mode=='update'"
          ng-click="setPassword()"
          ng-class="{'btn-info':!inputs.form.$invalid,'btn-default':inputs.form.$invalid}"
          ng-disabled="processing || inputs.form.$invalid">
    <label ng-show="processing" class="loading"></label>
    <label>{{'com.set'|i18next}}</label>
  </button>
</div>
