<div class="func-view" ng-class="{'wait-cursor':getSysWaiting()}">
  <div class="s3-left" ng-style="{width:treeWidth}">
    <div class="s3-tree-header" ng-bind="'s3.buckets'|i18next"></div>
    <div ng-controller="s3TreeCtrl">
      <div id="s3-tree" class="s3-tree">
        <s3-tree data="getBuckets()"></s3-tree>
      </div>
    </div>
  </div>
  <div class="s3-split-handle" ng-style="{left:treeWidth}"
       app-hammer="panHandles"></div>
  <div class="s3-right" ng-style="{left:treeWidth}"
       s3-upload-field="dropOpt">
    <div class="s3-upload-fileld-cover" ng-if="dropOpt.active"></div>
    <div id="s3-list" class="table-outer">
      <div class="table-header-spacer"></div>
      <div class="table-container" app-bind-scroll-position="tableScroll">
        <table class="table table-striped" app-on-row-selected="onRowSelect($indexes)">
          <thead>
            <tr>
              <th ng-repeat="col in columns"
                  ng-style="{width:col.width+'px'}">
                <div class="th-inner"
                     ng-style="{left:col.left+'px',width:col.width+'px','-webkit-transform':'translateX(' + (-tableScroll.scrollLeft) + 'px)'}">
                  <span ng-bind="col.name|i18next"></span>
                  <div class="sort-mark" ng-click="setSort(col)">
                    <i ng-if="sortCol==col.col && !sortReverse" class="fa fa-sort-up"></i>
                    <i ng-if="sortCol==col.col && sortReverse" class="fa fa-sort-down"></i>
                  </div>
                  <div class="table-resize-handle"
                       app-bind-width="col"></div>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-if="getCurrent() && getCurrent().list === undefined">
             <td colspan="{{columns.length}}">
               <div class="td-inner">
                 <div class="loader"></div>
                 <div class="loader"></div>
                 <div class="loader"></div>
                 <div class="loader"></div>
               </div>
             </td>
            </tr>
            <tr ng-if="s3Actions.creatingFolder">
             <td colspan="{{columns.length}}" ng-controller="s3CreateFolderCtrl">
              <input placeholder="{{'s3.folderName'|i18next}}"
                     app-focus-on="folderName" ng-model="folderName" ng-trim="true"
                     ng-keyup="onKeyup($event)" ng-blur="onInputDone()">
             </td>
            </tr>
            <tr ng-if="getCurrent().list.length === 0 && !s3Actions.creatingFolder">
             <td colspan="{{columns.length}}" style="text-align:center">
               <div class="td-inner" ng-bind="'s3.noObject'|i18next"></div>
             </td>
            </tr>
            <tr ng-repeat="item in getCurrent().list | orderBy:sortExp:sortReverse"
                row-id="{{ item.id }}"
                ng-dblclick="onDblClickList(item)"
                ng-class="{selected: isSelectedObject(item)}" >
              <td ng-repeat="col in columns" ng-class="col.class"
                     ng-style="{width:col.width+'px'}">
                <div class="td-inner" ng-style="{width: col.width+'px'}">
                  <i ng-if="col.iconFn" class="fa {{col.iconFn(item)}}"></i>
                  <span ng-if="col.filterFn" ng-bind="col.filterFn(item[col.col])"></span>
                  <span ng-if="!col.filterFn" ng-bind="item[col.col]"></span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div ng-controller="s3NotificationsAreaCtrl"
         ng-mouseenter="holdNotifications()"
         ng-mouseleave="releaseNotifications()"
         class="notifications-area">
      <div ng-repeat="n in getNotifications()"
           ng-mouseenter="n._hover=true"
           ng-mouseleave="n._hover=false"
           class="alert alert-info">
        <div class="progress">
          <span ng-bind="n.percent + '%'"></span>
          <div class="progress-bar progress-bar-material-lightgrey active"
               ng-class="{fin: n.percent==100}"
               ng-style="{width: n.percent+'%'}">
          </div>
        </div>
        <div ng-bind="n.sizeProcessed + ' / ' + n.sizeTotal +' bytes'"></div>
      </div>
    </div>

  </div>
</div>

<div dropdown class="position-fixed" contextmenu-for="#s3-tree">
  <ul class="dropdown-menu">
    <li ng-repeat="m in s3Actions.tree"
        ng-class="{disabled:s3Actions.isDisabled(m)}">
      <a ng-class="{withoutripple:s3Actions.isDisabled(m)}"
         ng-click="s3Actions.onClick($event, m);"
         ng-bind="'s3.'+m|i18next">
      </a>
    </li>
  </ul>
</div>

<div dropdown class="position-fixed" contextmenu-for="#s3-list">
  <ul class="dropdown-menu">
    <li ng-repeat="m in s3Actions.list"
        ng-class="{disabled:s3Actions.isDisabled(m)}">
      <a ng-class="{withoutripple:s3Actions.isDisabled(m)}"
         ng-click="s3Actions.onClick($event, m);"
         ng-bind="'s3.'+m|i18next">
      </a>
    </li>
  </ul>
</div>
