<div class="s3-header">
  <div class="btn-group" uib-dropdown>
    <button class="btn" uib-dropdown-toggle>
      <span ng-bind="::'com.action'|i18next"></span>
      <span class="caret"></span>
    </button>
    <ul uib-dropdown-menu>
      <li ng-repeat="m in s3Actions.all track by $index"
        ng-class="{divider:!m.length, disabled:s3Actions.isDisabled(m),'dropdown-submenu':(m|isArray)}">
        <a ng-if="!(m|isArray) && m.length" ng-click="s3Actions.onClick($event, m);"
           ng-bind="::'s3.'+m|i18next">
        </a>
        <a ng-if="m|isArray"
           ng-bind="::'s3.'+m[0]|i18next"
           ng-click="$event.stopPropagation()"
           ng-disabled="true">
        </a>
        <ul uib-dropdown-menu ng-if="m|isArray">
          <li ng-repeat="m2 in m[1]">
            <a ng-click="s3Actions.onClick($event, m2, true);"
               ng-bind="::'s3.'+m2|i18next"></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <button class="btn"
          ng-disabled="!hasPrev()"
          ng-click="goPrev()">
    <span><i class="fa fa-arrow-left"></i></span>
  </button>
  <button class="btn"
          ng-disabled="!hasNext()"
          ng-click="goNext()">
    <span><i class="fa fa-arrow-right"></i></span>
  </button>
  <ol class="breadcrumb" ng-if="getCurrent()">
    <img ng-if="!breadcrumb.length && !getCurrent().list.length"
         src="images/S3Bucket.svg">
    <img ng-if="breadcrumb.length || getCurrent().list.length"
         src="images/S3BucketWithObjects.svg">
    <li ng-repeat="b in breadcrumb"  style="white-space:nowrap;">
      <a ng-class="{disabled:!b.Name}" ng-click="b.Name && setCurrent(b)">
        <span ng-bind="b.Name.replace('/','')||'...'"></span>
      </a>
    </li>
    <li><span ng-bind="getCurrent().Name"></span></li>
  </ol>
  <div class="togglebutton pull-right"
        ng-if="getCurrent().Versioning">
    <label>
      <input type="checkbox" ng-model="flags.showVersions" ng-disabled="!getCurrent().doneReq">
      <span class="toggle"></span>
      <span ng-bind="::'s3.showVersions'|i18next"></span>
    </label>
  </div>
</div>
