<div class="s3-header">
  <div class="btn-group" dropdown is-open="s3Actions.isMenuOpened">
    <button class="btn" dropdown-toggle>
      <span ng-bind="'com.action'|i18next"></span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li ng-repeat="m in actions"
          ng-class="{disabled:m.disabled}">
        <a ng-class="{withoutripple:m.disabled}"
           ng-click="(!m.disabled || $event.stopPropagation()) && m.onClick($event)"
           ng-bind="m.label|i18next">
        </a>
      </li>
    </ul>
  </div>
  <button class="btn"
          ng-disabled="!hasPrev()"
          ng-click="goPrev()">
    <span><i class="fa fa-arrow-left"></i></span>
  </button>
  <button class="btn"
          ng-disabled="!hasNext()"
          ng-click="goNext()">
    <span><i class="fa fa-arrow-right"></i></span>
  </button>
  <ol class="breadcrumb" ng-if="getCurrent()">
    <img ng-if="!breadcrumb.length && !getCurrent().list.length"
         src="images/S3Bucket.svg">
    <img ng-if="breadcrumb.length || getCurrent().list.length"
         src="images/S3BucketWithObjects.svg">
    <li ng-repeat="b in breadcrumb"  style="white-space:nowrap;">
      <a ng-class="{disabled:!b.Name}" ng-click="b.Name && setCurrent(b)"
         ng-bind="b.Name.replace('/','')||'...'">
      </a>
    </li>
    <li><span ng-bind="getCurrent().Name"></span></li>
  </ol>
</div>
