<div class="modal-header">
  <button class="close" ng-click="$dismiss()">&times;</button>
  <h3 ng-bind="::'s3.uploadObjects'|i18next"></h3>
</div>
<div class="modal-body s3-upload-dialog form-horizontal">
  <div class="form-group has-success">
    <label class="col-xs-4 control-label"
           ng-bind="::'s3.uploadTo'|i18next"></label>
    <div class="col-xs-8 form-control-static"
         ng-bind="::folder.bucketName + ' / ' + folder.Prefix"></div>
  </div>
  <div class="form-group has-success">
    <label class="col-xs-4 control-label"
           ng-bind="::'s3.storageClass'|i18next"></label>
    <div class="btn-group btn-group-raised">
      <button class="btn btn-default"
              ng-bind="::'s3.storageClassName.'+s|i18next"
              ng-repeat="s in storageClasses"
              ng-class="{'btn-success':inputs.storageClass==s}"
              ng-model="inputs.storageClass" uib-btn-radio="s">
      </button>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-12" ng-bind="uploadOverview.num + ' Files, ' + (uploadOverview.total|bytes)"></div>
  </div>

  <div class="modal-body-inner">
    <div class="table-outer">
      <div class="table-header-spacer"></div>
      <div class="table-container" app-bind-scroll-position="tableScroll">
        <table class="table table-striped">
          <thead>
            <tr>
              <th ng-repeat="col in columns">
                <div class="th-inner"
                     ng-style="{left:col.left,width:col.width+'px','-webkit-transform':'translateX(' + (-tableScroll.scrollLeft) + 'px)'}">
                  <span ng-bind="::col.name ? (col.name|i18next) : '&nbsp;'"></span>
                  <div class="sort-mark" ng-if="col.sortable" ng-click="setSort(col)">
                    <i ng-if="sortCol==col.col && !sortReverse" class="fa fa-sort-up"></i>
                    <i ng-if="sortCol==col.col && sortReverse" class="fa fa-sort-down"></i>
                  </div>

                  <div class="table-resize-handle"
                       app-bind-width="col"></div>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in uploadInfo.uploadList | orderBy:sortExp:sortReverse"
                ng-click="item.check=!item.check"
                ng-class="{'not-checked':!item.check}"
                ng-attr-row-id="{{ item.path }}">
              <td ng-repeat="col in columns" class="{{col.class}}"
                  ng-style="{width:col.width+'px'}">
                <div class="td-inner" ng-style="{width: col.width+'px'}">
                  <span ng-if="col.checkbox">
                    <input type="checkbox" ng-model="item.check" ng-click="$event.stopPropagation()">
                  </span>
                  <span ng-if="col.col && col.filterFn" ng-bind="::col.filterFn(item[col.col])"></span>
                  <span ng-if="col.col && !col.filterFn" ng-bind="::item[col.col]"></span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="cover" ng-if="processing"><div class="modal-loader"></div></div>
</div>
<div class="modal-footer">
  <div class="alert alert-warning" ng-show="error">{{error}}</div>
  <button class="btn btn-raised btn-default"
          ng-bind="::'com.cancel'|i18next"
          ng-click="$dismiss()">
  </button>
  <button class="btn btn-raised"
          ng-class="{'btn-success':isReady}"
          ng-bind="::'s3.startUpload'|i18next"
          ng-click="upload()"
          ng-disabled="processing || !isReady || !hasUploads" >
  </button>
  <div class="cover" ng-if="processing"></div>
</div>
