<div class="modal-header">
  <button class="close" ng-click="$dismiss()">&times;</button>
  <h3 ng-bind="'r53.'+mode|i18next"></h3>
</div>
<div class="modal-body">
  <form name="inputs.form" class="form-horizontal">
    <div class="form-group" ng-if="mode=='deleteHostedZone'">
      <div class="col-xs-12"
           ng-bind="'r53.deleteHostedZoneMsg'|i18next"></div>
    </div>
    <div class="form-group">
      <label class="col-xs-3 control-label"
             ng-bind="'r53.domainName'|i18next"></label>
      <div class="col-xs-9">
        <input class="form-control" name="domainName"
               spellcheck="false"
               app-focus-on="domainName"
               ng-if="mode=='createHostedZone'"
               ng-model="inputs.domainName"
               ng-required="true"
               ui-validate="'isValidHostedZone($value)'"
               ui-validate-watch="'inputs.privateZone'"
               ng-disabled="processing">
        <div class="form-control-static"
             ng-if="mode!='createHostedZone'"
             ng-bind="inputs.domainName"></div>
      </div>
    </div>
    <div class="form-group" ng-if="mode!=='deleteHostedZone'">
      <label class="col-xs-3 control-label"
             ng-bind="'r53.comment'|i18next"></label>
      <div class="col-xs-9">
        <input class="form-control" name="comment"
               ng-model="inputs.comment"
               ng-disabled="processing">
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-3 control-label"
             ng-bind="'r53.hostedZoneType'|i18next"></label>
      <div class="col-xs-9">
        <input type="hidden" ng-model="inputs.privateZone"
               ui-validate="'isValidPrivateZone($value)'"
               ui-validate-watch="'inputs.associatedVpcs[0].VpcId'">
        <div class="btn-group" dropdown is-open="selectType.isopen">
          <button class="btn btn-info" dropdown-toggle
                  ng-disabled="processing || mode != 'createHostedZone'">
            <span ng-bind="inputs.privateZone?'r53.privateZone':'r53.notPrivateZone'|i18next">
            </span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li ng-if="inputs.privateZone">
              <a ng-click="inputs.privateZone=false;selectType.isopen=false"
                 ng-bind="'r53.notPrivateZone'|i18next">
              </a>
            </li>
            <li ng-if="!inputs.privateZone">
              <a ng-click="inputs.privateZone=true;selectType.isopen=false"
                 ng-bind="'r53.privateZone'|i18next">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="form-group" ng-if="inputs.privateZone==true">
      <label class="col-xs-3 control-label"
             ng-bind="'r53.associatedVpc'|i18next"></label>
      <div class="col-xs-9">
        <div ng-repeat="(idx, associatedVpc) in inputs.associatedVpcs"
             class="vpc-input">
          <div class="btn-group no-animate" dropdown>
            <button class="btn btn-info" dropdown-toggle
                    ng-disabled="mode=='deleteHostedZone' || !ready || processing">
              <span ng-if="associatedVpc.VpcId"
                    ng-bind="(associatedVpc.tags.Name ? associatedVpc.tags.Name + ' (' + associatedVpc.VpcId +')' : associatedVpc.VpcId) + ' - ' + ('ec2.regionName.'+associatedVpc.region|i18next)">
              </span>
              <span class="caret" ng-if="mode!='deleteHostedZone'"></span>
            </button>
            <ul class="dropdown-menu">
              <li class="dropdown-header"
                  ng-repeat-start="(r, vpc) in getVpcs()"
                  ng-if="vpc.length"
                  ng-bind="'ec2.regionName.'+r|i18next"></li>
              <li ng-repeat-end ng-repeat="v in vpc"
                  ng-class="{disabled: inputs.associatedVpcs.indexOf(v) >= 0}">
                <a ng-click="inputs.associatedVpcs.indexOf(v) < 0 && setAssociatedVpc(v, idx)"
                   ng-bind="v.tags.Name ? v.tags.Name + ' (' + v.VpcId +')': v.VpcId"></a>
              </li>
            </ul>
            <button class="btn btn-info remove-vpc"
                    ng-if="mode!='deleteHostedZone'&&inputs.associatedVpcs.length && associatedVpc.VpcId"
                    ng-click="inputs.associatedVpcs.splice(idx,1)">
              <i class="fa fa-times"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <div class="alert alert-warning" ng-show="error"
       ng-bind="error|errorMsg:'r53'"></div>
  <button class="btn btn-default"
          ng-click="$dismiss()"
          ng-disabled="processing">
    <label ng-show="processing" class="loading"></label>
    <label ng-bind="'com.cancel'|i18next"></label>
  </button>
  <button class="btn btn-loading"
          ng-class="{'btn-info':mode!='deleteHostedZone'&&!inputs.form.$invalid,'btn-warning':mode=='deleteHostedZone'&&!inputs.form.$invalid,'btn-default':inputs.form.$invalid}"
          ng-click="command()"
          ng-disabled="!ready || processing || inputs.form.$invalid">
    <label ng-show="processing" class="loading"></label>
    <label ng-if="mode=='createHostedZone'" ng-bind="'com.create'|i18next"></label>
    <label ng-if="mode=='updateHostedZone'" ng-bind="'com.update'|i18next"></label>
    <label ng-if="mode=='deleteHostedZone'" ng-bind="'com.delete'|i18next"></label>
  </button>
</div>
