<div class="func-view">
  <div id="r53-left" class="r53-left" ng-style="{width:treeWidth}">
    <div class="r53-left-header" ng-bind="'r53.zones'|i18next"></div>
    <ul class="nav nav-pills nav-stacked">
      <li ng-if="r53Info.getHostedZones().length == 0">
        <div ng-bind="'r53.noHostedZone'|i18next"></div>
      </li>
      <li ng-repeat="z in r53Info.getHostedZones() track by $index"
          ng-class="{active:r53Info.getCurrent().Id=== z.Id}">
        <a ng-click="r53Info.setCurrent(z)"
           ng-dblclick="openDialog('r53/changeHostedZoneDialog', {mode: 'updateHostedZone'})"
           app-right-click="r53Info.setCurrent(z)">
          <i class="fa fa-globe" ng-class="{local:z.Config.PrivateZone}"></i>
          <span ng-bind="z.Name"></span>
        </a>
      </li>
    </ul>
  </div>
  <div class="r53-split-handle" ng-style="{left:treeWidth}"
       app-hammer="panHandles"></div>
  <div id="r53-right" class="r53-right" ng-style="{left:treeWidth}">
  
    <div class="table-outer">
      <div class="table-header-spacer"></div>
      <div class="table-container" app-bind-scroll-position="tableScroll">
        <table class="table table-striped">
          <thead>
            <tr>
              <th ng-repeat="col in columns"
                  ng-style="{width:col.width+'px'}">
                <div class="th-inner"
                     ng-style="{left:col.left+'px',width:col.width+'px','-webkit-transform':'translateX(' + (-tableScroll.scrollLeft) + 'px)'}">
                  <span ng-bind="col.name|i18next"></span>
                  <div class="sort-mark" ng-click="setSort(col)">
                    <i ng-if="sortCol==col.col && !sortReverse" class="fa fa-sort-up"></i>
                    <i ng-if="sortCol==col.col && sortReverse" class="fa fa-sort-down"></i>
                  </div>
                  <div class="table-resize-handle"
                       app-bind-width="col"></div>
                </div>
              </th>
            </tr>
          </thead>
          <tbody app-on-row-selected="onRowSelect($indexes)">
            <tr ng-if="getCurrent() && getCurrent().list === undefined">
             <td colspan="{{columns.length}}">
               <div class="td-inner">
                 <div class="loader"></div>
                 <div class="loader"></div>
                 <div class="loader"></div>
                 <div class="loader"></div>
               </div>
             </td>
            </tr>
            <tr ng-if="r53Info.getCurrent().list.length === 0">
             <td colspan="{{columns.length}}" style="text-align:center"
                 ng-bind="'r53.noRecords'|i18next">
             </td>
            </tr>
            <tr ng-repeat="item in r53Info.getCurrent().list | orderBy:sortExp:sortReverse"
                row-id="{{ item.id }}"
                ng-dblclick="onDblClickList(item)"
                ng-class="{info: isSelectedObject(item)}" >
              <td ng-repeat="col in columns" ng-class="col.class"
                     ng-style="{width:col.width+'px'}">
                <div class="td-inner" ng-style="{width: col.width+'px'}">
                  <div ng-if="col.isArray"
                       ng-repeat="val in item[col.col] track by $index"
                       ng-bind="val"></div>
                  <div ng-if="!col.isArray && col.filterFn"
                       ng-bind="col.filterFn(item[col.col])"></div>
                  <div ng-if="!col.isArray && !col.filterFn"
                       ng-bind="item[col.col]"></div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div dropdown class="position-fixed" contextmenu-for="#r53-left">
  <ul class="dropdown-menu">
    <li ng-repeat="m in r53Actions.zone"
        ng-class="{disabled:r53Actions.isDisabled(m)}">
      <a ng-class="{withoutripple:r53Actions.isDisabled(m)}"
         ng-click="r53Actions.onClick($event, m);"
         ng-bind="'r53.'+m|i18next">
      </a>
    </li>
  </ul>
</div>
<div dropdown class="position-fixed" contextmenu-for="#r53-right">
  <ul class="dropdown-menu">
    <li ng-repeat="m in r53Actions.rrset"
        ng-class="{disabled:r53Actions.isDisabled(m)}">
      <a ng-class="{withoutripple:r53Actions.isDisabled(m)}"
         ng-click="r53Actions.onClick($event, m);"
         ng-bind="'r53.'+m|i18next">
      </a>
    </li>
  </ul>
</div>
