<div class="r53-header">
  <div class="btn-group" dropdown is-open="r53Actions.isOpenHeaderMenu">
    <button class="btn btn-info dropdown-toggle">
      <span ng-bind="'com.action'|i18next"></span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li ng-repeat="m in r53Actions.all"
          ng-class="{divider:!m.length, disabled:r53Actions.isDisabled(m)}">
        <a ng-if="m.length" ng-click="r53Actions.onClick($event, m);">
          <span>{{'r53.'+m|i18next}}</span>
        </a>
      </li>
    </ul>
  </div>
</div>
