<div class="modal-header">
  <button class="close" ng-click="$dismiss()">&times;</button>
  <h3>{{'s3.createBucket'|i18next}}</h3>
</div>
<div class="modal-body">
  <form name=form class="form-horizontal">
    <div class="form-group">
      <label class="col-xs-4 control-label">{{'s3.region'|i18next}}</label>
      <div class="col-xs-8">
        <div class="btn-group" dropdown is-open="selectRegion.isopen">
          <button class="btn btn-info dropdown-toggle" ng-disabled="processing">
            <span>{{'s3.regionName.'+inputs.region|i18next}}</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li ng-repeat="r in awsRegions.s3" ng-if="r !== inputs.region">
              <a ng-class="{'btn-info':inputs.region==r}"
                 ng-click="inputs.region=r;selectRegion.isopen=false">
                <span>{{'s3.regionName.'+r|i18next}} - {{r}}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-4 control-label">{{'s3.bucketName'|i18next}}</label>
      <div class="col-xs-8">
        <input type="text" class="form-control" name="bucketName" 
               ng-model="inputs.bucketName"
               ui-validate="{{validateBucketName}}"
               ui-validate-watch="'inputs.region'"
               ng-disabled="processing">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <div class="alert alert-warning" ng-show="errorCode">{{'s3.error.'+errorCode|i18next}}</div>
  <button class="btn btn-default"
          ng-click="$dismiss()"
          ng-disabled="processing">
    <label ng-show="processing" class="loading"></label>
    <label>{{'com.cancel'|i18next}}</label>
  </button>
  <button class="btn btn-loading"
          ng-class="{'btn-info':!form.$invalid,'btn-default':form.$invalid}"
          ng-click="create()"
          ng-disabled="processing || form.$invalid">
    <label ng-show="processing" class="loading"></label>
    <label>{{'s3.create'|i18next}}</label>
  </button>
</div>
