<div class="func-view">
  <div class="s3-left">
    <div class="btn-group">
      <button class="btn"
              ng-click="openDialog('s3/createBucketDialog.html')"
      >{{'s3.createBucket'|i18next}}</button>
    </div>
    <div class="s3-tree">
      <s3-tree data="s3Items.buckets"></s3-tree>
    </div>
  </div>
  <div class="s3-right" s3-upload-field="dropOpt">
    <div class="btn-group">
      <button ng-if="s3Items.selected.Prefix" class="btn"
              ng-click="s3Items.selected = s3Items.selected.parent"
      >up</button>
    </div>
    <div class="s3-upload-fileld-cover" ng-if="dropOpt.active"></div>
    <scrollable-table watch="s3Items.selected.list">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th ng-repeat="col in columns" sortable-header col="col.col">{{col.name|i18next}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in s3Items.selected.list"
              row-id="{{ item.id }}"
              ng-dblClick="onDblClickList(item)"
              ng-click="onClickList(item)"
              ng-class="{info: s3Items.selectedItem.id == item.id}" >
            <td ng-repeat="col in columns" class="{{col.class}}">
              <i ng-if="col.iconFn" class="fa {{col.iconFn(item)}}"></i>
              <span ng-if="col.filterFn">{{col.filterFn(item[col.col])}}</span>
              <span ng-if="!col.filterFn">{{item[col.col]}}</span>

            </td>
          </tr>
        </tbody>
      </table>
    </scrollable-table>
  </div>
<div>
