<div class="func-view">
  <div class="s3-left">
    <div class="btn-group" dropdown is-open="isOpenTreeMenu">
      <button type="button" class="btn btn-info dropdown-toggle" ng-disabled="processing">
        <span>Menu</span><span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" ng-include="'views/s3/s3TreeMenu.html'">
      </ul>
    </div>
    <div class="s3-tree" context-menu data-target="s3-tree-context-menu">
      <s3-tree data="s3Items.buckets"></s3-tree>
    </div>
  </div>
  <div class="s3-right" s3-upload-field="dropOpt">
    <div class="btn-group">
      <button ng-if="s3Items.selected.Prefix" class="btn"
              ng-click="s3Items.selected = s3Items.selected.parent"
      >up</button>
    </div>
    <div class="s3-upload-fileld-cover" ng-if="dropOpt.active"></div>
    <div class="table-outer" context-menu data-target="s3-list-context-menu">
      <div class="table-header-spacer"></div>
      <div class="table-container" app-bind-scroll-position="tableScroll">
        <table class="table table-striped">
          <thead>
            <tr>
              <th ng-repeat="col in columns" col="col.col"
                  ng-style="{width:col.width+'px'}">
                <div class="th-inner"
                     ng-style="{left:col.left,width:col.width+'px','-webkit-transform':'translateX(' + (-tableScroll.scrollLeft) + 'px)'}">
                  <span>{{col.name|i18next}}</span>
                  <div class="table-resize-handle"
                       app-bind-width="col"></div>
                </div>
              </th>
            </tr>
          </thead>
          <tbody app-table-row-selected="s3Items.selectedItemIdx">
            <tr ng-repeat="item in s3Items.selected.list"
                row-id="{{ item.id }}"
                ng-dblClick="onDblClickList(item)"
                ng-class="{info: isActiveItem(item.id, $index)}" >
              <td ng-repeat="col in columns" class="{{col.class}}"
                     ng-style="{width:col.width+'px'}">
                <div class="td-inner" ng-style="{width: col.width+'px'}">
                  <i ng-if="col.iconFn" class="fa {{col.iconFn(item)}}"></i>
                  <span ng-if="col.filterFn">{{col.filterFn(item[col.col])}}</span>
                  <span ng-if="!col.filterFn">{{item[col.col]}}</span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div ng-controller="s3NotificationsAreaCtrl"
         ng-mouseenter="holdNotifications()"
         ng-mouseleave="releaseNotifications()"
         class="notifications-area">
      <div ng-repeat="n in getNotifications()"
           ng-mouseenter="n._hover=true"
           ng-mouseleave="n._hover=false"
           class="alert alert-info">
        <div class="progress">
          <div class="progress-bar" ng-style="{width: (n.uploadTotal * 100 / n.sizeTotal) + '%'}">
          </div>
        </div>
        <div>
        <div ng-if="n._hover">
          <div>{{n.uploadTotal}} / {{n.sizeTotal}} bytes </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="dropdown position-fixed" id="s3-tree-context-menu">
 <ul class="dropdown-menu" role="menu"
     ng-include="'views/s3/s3TreeMenu.html'"></ul>
</div>

<div class="dropdown position-fixed" id="s3-list-context-menu">
  <ul class="dropdown-menu" role="menu">
    <li ng-class="{disabled:contextDisabled.createFolder}">
      <a ng-click="(!contextDisabled.createFolder || $event.stopPropagation()) && openDialog('s3/createFolderDialog.html')">
        {{'s3.createFolder'|i18next}}
      </a>
    </li>
  </ul>
</div>
