<div ng-controller="s3UploadDialogCtrl">
<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()">&times;</button>
  <h3>{{'Upload Files'||i18next}}</h3>
</div>
<div class="modal-body">
  <div class="form-group">
    <scrollable-table watch="uploadFiles">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th ng-repeat="col in columns" sortable-header col="col.col">{{col.name|i18next}}{{col.col}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in uploadFiles"
              row-id="{{ item.path }}">
            <td ng-repeat="col in columns" class="{{col.class}}">
              <span ng-if="col.filterFn">{{col.filterFn(item[col.col])}}</span>
              <span ng-if="!col.filterFn">{{item[col.col]}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </scrollable-table>
{{uploadFiles.length}} Files, 
{{uploadFiles.total|bytes}}
</div>
<div class="modal-footer">
  <div class="alert alert-warning" ng-show="error">{{error}}</div>
  <button type="button" class="btn btn-success btn-loading"
          ng-click="upload()"
          ng-disabled="processing || !isReady" >
    <label ng-show="processing" class=loading />
    <label>Upload</label>
  </button>
</div>
</div>
