<div class="modal-header">
  <button class="close" ng-click="$dismiss()">&times;</button>
  <h3>{{'s3.uploadObjects'|i18next}}</h3>
</div>
<div class="modal-body s3-upload-dialog form-horizontal">
  <div class="form-group">
    <label class="col-xs-4 control-label">{{'s3.uploadTo'|i18next}}</label>
    <label class="col-xs-4 form-control-static">{{folder.bucketName}} / {{folder.Prefix}}<label>
  </div>
  <div class="form-group">
    <label class="col-xs-4 control-label">{{'s3.storageClass'|i18next}}</label>
    <div class="btn-group">
      <button class="btn btn-default"
             ng-class="{'btn-info':inputs.storageClass=='STANDARD'}"
             ng-model="inputs.storageClass" btn-radio="'STANDARD'">
        {{'s3.standard'|i18next}}
      </button>
      <button class="btn btn-default"
             ng-class="{'btn-info':inputs.storageClass=='REDUCED_REDUNDANCY'}"
             ng-model="inputs.storageClass" btn-radio="'REDUCED_REDUNDANCY'">
        {{'s3.reducedRedundancy'|i18next}}
      </button>
    </div>
  </div>
  <div class="form-group">
    <label class="col-xs-4">{{uploadInfo.uploadList.length}} Files, {{uploadInfo.uploadList.total|bytes}}</label>
  </div>

  <div class="modal-body-inner">
    <div class="table-outer">
      <div class="table-header-spacer"></div>
      <div class="table-container" app-bind-scroll-position="tableScroll">
        <table class="table table-striped">
          <thead>
            <tr>
              <th ng-repeat="col in columns">
                <div class="th-inner"
                     ng-style="{left:col.left,width:col.width+'px','-webkit-transform':'translateX(' + (-tableScroll.scrollLeft) + 'px)'}">
                  <span>{{col.name|i18next}}</span>
                  <div class="table-resize-handle"
                       app-bind-width="col"></div>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in uploadFiles"
                row-id="{{ item.path }}">
              <td ng-repeat="col in columns" class="{{col.class}}"
                  ng-style="{width:col.width+'px'}">
                <div class="td-inner" ng-style="{width: col.width+'px'}">
                  <span ng-if="col.checkbox"><input type=checkbox ng-model="item.check"></span>
                  <span ng-if="col.col && col.filterFn">{{col.filterFn(item[col.col])}}</span>
                  <span ng-if="col.col && !col.filterFn">{{item[col.col]}}</span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="alert alert-warning" ng-show="error">{{error}}</div>
  <button class="btn btn-default"
          ng-click="$dismiss()"
          ng-disabled="processing" >
    <label ng-show="processing" class=loading></label>
    <label>{{'com.cancel'|i18next}}</label>
  </button>
  <button class="btn btn-info btn-loading"
          ng-click="upload()"
          ng-disabled="processing || !isReady" >
    <label ng-show="processing" class=loading></label>
    <label>{{'s3.startUpload'|i18next}}</label>
  </button>
</div>
