<div class="func-view">
  <accordion>
    <accordion-group class="panel-default ec2-vpc-panel"
                     ng-repeat="v in ec2Info.getVpcs()" is-open="v.isOpen">
      <accordion-heading>
        <div class="vpc-region" ng-if="ec2Info.getCurrentRegion()=='all'">
          {{'ec2.regionName.'+v.region|i18next}}
        </div>
        <i class="fa fa-chevron-right" ng-class="{'fa-rotate-90': v.isOpen}"></i>
        <span ng-if="v.name">{{v.name}} ({{v.VpcId}})</span>
        <span ng-if="!v.name">{{v.vpcId}}</span>
      </accordion-heading>
      <div ng-repeat="i in ec2Info.getInstances() | ec2InVpc:v.VpcId">
        <div class="instance">
          <img src="images/Instance.svg">
          <div>{{i.InstanceId}}</div>
          <!-- {{i}} -->
        </div>
      </div>
    </accordion-group>
  </accordion>
</div>
