<div class="func-view">
  <accordion>
    <accordion-group class="panel-default ec2-vpc-panel"
                     ng-repeat="v in ec2Info.getVpcs()" is-open="v.isOpen">
      <accordion-heading>
        <div class="vpc-region" ng-if="ec2Info.getCurrentRegion()=='all'">
          {{'ec2.regionName.'+v.region|i18next}}
        </div>
        <div ng-if="v.name">{{v.name}} ({{v.VpcId}})</div>
        <div ng-if="!v.name">{{v.vpcId}}</div>
      </accordion-heading>
      <div ng-repeat="i in ec2Info.getInstances() | ec2InVpc:v.VpcId">
        {{i.InstanceId}}
        <!-- {{i}} -->
      </div>
    </accordion-group>
  </accordion>
</div>
