<div class="modal-header">
  <button class="close"
          ng-if="mode!=='auth'"
          ng-click="$dismiss()">&times;</button>
  <h3 ng-if="mode=='auth'">{{'com.inputPassword'|i18next}}</h3>
  <h3 ng-if="mode=='set'">{{'com.setPassword'|i18next}}</h3>
  <h3 ng-if="mode=='update'">{{'com.updatePassword'|i18next}}</h3>
</div>
<div class="modal-body">
  <div ng-if="mode=='set'">{{'com.setPasswordMsg'|i18next}}</div>
  <form name="inputs.form" class="form-horizontal">
    <div class="form-group"
         ng-if="mode=='auth'">
      <label class="col-xs-4 control-label" ng-bind="'com.password'|i18next"></label>
      <div class="col-xs-8">
      <input type="password" class="form-control"
             name="password"
             ng-model="inputs.password"
             ng-disabled="processing"
             ui-validate="{password:'passwordValidator($value)'}"
             ui-keydown="{enter: 'onEnterKeydown(\'password\')'}"
             app-focus-on="password">
      <p class="help-block"
         ng-if="inputs.form.password.$dirty && inputs.form.password.$error.password"
         ng-bind="'com.error.invalidPassword' | i18next">
      </p>
      </div>
    </div>
    <div class="form-group"
         ng-if="mode=='update'">
      <label class="col-xs-4 control-label" ng-bind="::'com.currentPassword'|i18next"></label>
      <div class="col-xs-8">
        <input type="password" class="form-control"
               name="currentPassword"
               ng-model="inputs.currentPassword"
               ng-disabled="processing"
               ui-validate="{password:'passwordValidator($value)'}"
               ui-keydown="{enter: 'onEnterKeydown(\'currentPassword\')'}"
               app-focus-on="currentPassword">
        <p class="help-block"
           ng-if="inputs.form.currentPassword.$dirty && inputs.form.currentPassword.$error.password"
           ng-bind="'com.error.invalidPassword' | i18next">
        </p>
      </div>
    </div>
    <div class="form-group"
         ng-if="mode=='set' || mode=='update'">
      <label class="col-xs-4 control-label" ng-bind="::'com.newPassword'|i18next"></label>
      <div class="col-xs-8">
        <input type="password" class="form-control"
               name="newPassword"
               ng-model="inputs.newPassword"
               ng-disabled="processing"
               ui-validate="{length : '$value.length > 0', strength: 'strength($value)'}"
               ui-keydown="{enter: 'onEnterKeydown(\'newPassword\')'}"
               app-focus-on="newPassword">
        <div class="password-score" ng-if="passwordScore">
          <progressbar type="{{strengthType[passwordScore]}}"
                       animate="true" value="passwordScore" max="5"></progressbar>
          <div class="text-right 'text-'{{strengthType[passwordScore]}}"
               ng-class="'text-' + strengthType[passwordScore]"
               ng-bind="('com.passwordStrength'|i18next) + ': ' + ('com.passwordScore.'+passwordScore|i18next)">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group"
         ng-if="mode=='set' || mode=='update'">
      <label class="col-xs-4 control-label" ng-bind="::'com.newPassword2'|i18next"></label>
      <div class="col-xs-8">
        <input type="password" class="form-control"
               name="newPassword2"
               ng-model="inputs.newPassword2"
               ui-validate="{length : '$value.length > 0', match: '$value==inputs.newPassword'}"
               ui-validate-watch="'inputs.newPassword'"
               ui-keydown="{enter: 'onEnterKeydown(\'newPassword2\')'}"
               app-focus-on="newPassword2">
        <p class="help-block"
           ng-if="inputs.form.newPassword2.$dirty && inputs.form.newPassword2.$error.match"
           ng-bind="'com.error.passwordsDoNotMatch' | i18next">
        </p>
      </div>
    </div>
  </form>
  <div class="cover" ng-if="processing"><div class="modal-loader"></div></div>
</div>
<div class="modal-footer">
  <button class="btn btn-raised btn-default"
          ng-bind="'com.cancel'|i18next"
          ng-if="mode!=='auth'"
          ng-click="$dismiss()">
  </button>
  <button class="btn btn-raised"
          ng-if="mode=='auth'"
          ng-bind="'com.ok'|i18next"
          ng-click="auth()"
          ng-class="{'btn-primary':!inputs.form.$invalid}"
          ng-disabled="processing || inputs.form.$invalid">
  </button>
  <button class="btn btn-raised"
          ng-bind="'com.set'|i18next"
          ng-if="mode=='set'"
          ng-click="setPassword()"
          ng-class="{'btn-primary':!inputs.form.$invalid}"
          ng-disabled="processing || inputs.form.$invalid">
  </button>
  <button class="btn btn-raised"
          ng-bind="'com.set'|i18next"
          ng-if="mode=='update'"
          ng-click="setPassword()"
          ng-class="{'btn-primary':!inputs.form.$invalid}"
          ng-disabled="processing || inputs.form.$invalid">
  </button>
  <div class="cover" ng-show="processing"></div>
</div>
