<div class="func-view">
  <div class="s3-left">
    <s3-tree data="buckets"></s3-tree>
  </div>
  <div class="s3-right">
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Size</th>
      </tr>
      <tr tab-index="-1" ng-repeat="o in s3Items.selected.folders">
        <td>{{o.Name}}</td>
        <td></td>
      </tr>
      <tr tab-index="-1" ng-repeat="o in s3Items.selected.contents">
        <td>{{o.Name}}</td>
        <td style="text-align:right">{{o.Size | bytes}}</td>
      </tr>
    </table>
  </div>
<div>
